@import "../../styles/variables.scss";

.page-title {
    font-family: $ff-h, $ff-t;
    font-weight: 700;
    color: $primary;
    font-size: $fz-title
}

.page-field {
    font-family: $ff-t, $ff-h;
    font-weight: 500;
    color: $secondary;
    font-size: $fz-body
}

input[type=text], input[type=email], input[type=password], [type=date] {
    font: 400 16px var(--text-font), Arial, sans-serif;
    outline: none;
    height: 40px;
    border-radius: 10px;
}

input[type=text]::placeholder, input[type=email]::placeholder, input[type=password]::placeholder,  [type=date]::placeholder {
    color:#BDBDBD;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, [type=date]:focus{
    border: $secondary 2px solid;
    outline: none;
}

input[type=text]:focus::placeholder, input[type=email]:focus::placeholder, input[type=password]:focus::placeholder, [type=date]:focus::placeholder{
    color: transparent;
}

input[type=text].error, input[type=email].error, input[type=password].error, input[type=date].error {
    border: var(--alert-l) 2px solid;
    outline: none;
}

.breadcrumb {
    $breadcrumb-divider: none;
}

button {
    position: relative;
    transition: .3s;
    border-color: transparent;
    color: #fff;
    filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.25));
}

button:hover {
    filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.5));
}

button:active {
    left: 1px;
    top: 1px;
    filter: drop-shadow(2px 2px 0px transparent);
}


.link {
    font-family: $ff-t, $ff-h;
    color: $secondary;
    font-size: $fz-body;
    border-color: $secondary;
    text-decoration: none;
    transition: .4s;
}

.link:hover {
    font-family: $ff-t, $ff-h;
    color: $primary;
    font-size: $fz-body;
    text-decoration: none
}

.alert-success {
    color: $accent-blue;
    background-color: $highlight;
    border: $highlight;
}

.alert-error {
    color: $alert;
    background-color: $highlight;
    border: $highlight;
}

