body {
    height: 100vh;
    background-color: #3C3B67;
    color: white;
}

:root{ 
    --bgc1:#3C3B67; 
    --bgc2:#EDEFF7; 
    --bgc3:#DCDFEC; 
    --primary-d:#9B80DD; 
    --primary-l:#E97BEE; 
    --sec-d:#85A4DD; 
    --sec-l:#B7DFD3; 
    --acce-d:#F4BFF6; 
    --acce-l:#CDC0EE; 
    --alert-d:#F0F8A6; 
    --alert-l:#FA49B6; 
    --h-font: "M PLUS Rounded 1c";
    --text-font: "Noto Sans TC";
}
body{
    font: 400 16px var(--text-font), Arial, sans-serif;
}

/* 文字 */
h1{
    font: bold 40px var(--h-font), Arial, sans-serif;
}
h2{
    font: bold 36px var(--h-font), Arial, sans-serif;
}
h3{
    font: bold 32px var(--h-font), Arial, sans-serif;
}
.title {
    font: bold 24px var(--text-font), Arial, sans-serif;
}
.subtitle {
    font: 500 20px var(--text-font), Arial, sans-serif;
}


.caption {
    font: 14px var(--text-font), Arial, sans-serif;
    color: #aaa;
}

button{
    position: relative;
    transition: .3s;
    border-color: transparent;
    color: #fff;
    filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.25));
}

button:hover {
    filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.5));
}

button:active {
    left: 1px;
    top: 1px;
    filter: drop-shadow(2px 2px 0px transparent);
}

.btn-pri{
    background-color: #CE59E7;
}

.btn-sec{
    background-color: #E7ACF3;
    border: 1px solid #fff;
}

.btn-ter{
    background-color: #fff;
    border: 1px solid #CE59E7;
    color: #CE59E7;
}

.btn-dis{
    background: #EAE7F9;
    ;
    color: #fff;
    filter: drop-shadow(2px 2px 0px transparent);
}

.btn-dis:hover, .btn-dis:active{
    left: 0px;
    top: 0px;
    filter: drop-shadow(2px 2px 0px transparent);
}

.btn-danger{
    background-color: var(--alert-l);
    color: #fff;
}

.btn-l {
    height: 40px;
    font:700 18px var(--text-font), Arial, sans-serif;
    border-radius: 12px;
}

.btn-m {
    height: 32px;
    font:700 16px var(--text-font), Arial, sans-serif;
    border-radius: 10px;
}

.btn-s {
    height: 24px;
    font:400 14px var(--text-font), Arial, sans-serif;
    border-radius: 8px;
}

/* 表單系列 */
/* 這邊還要自己做細部調整 */
label{
    position: relative;
}
input[type=text] {
    font: 400 16px var(--text-font), Arial, sans-serif;
    border: #9587E1 2px solid;
    height: 40px;
    border-radius: 10px;
}

input[type=text]::placeholder{
    color:#BDBDBD;
}

input[type=text]:focus{
    border: #9587E1 2px solid;
    outline: none;
}

input[type=text]:focus::placeholder{
    color: transparent;
}

input[type=text]{
    border: #9587E1 2px solid;
    outline: none;
}

input[type=text].error {
    border: var(--alert-l) 2px solid;
    outline: none;
}

input[type=checkbox]{
    /* display: none; */
    transition: .1s;
    appearance: none;
    width: 18px;
    height: 18px;
    background: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' fill='%23828282' %3E%3C!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M384 32C419.3 32 448 60.65 448 96V416C448 451.3 419.3 480 384 480H64C28.65 480 0 451.3 0 416V96C0 60.65 28.65 32 64 32H384zM384 80H64C55.16 80 48 87.16 48 96V416C48 424.8 55.16 432 64 432H384C392.8 432 400 424.8 400 416V96C400 87.16 392.8 80 384 80z'/%3E%3C/svg%3E") no-repeat;
    background-position: .5px;
    outline: none;
}

input[type=checkbox]:focus,
input[type=checkbox]:active{
    background: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' fill='%23E384F2' %3E%3C!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M384 32C419.3 32 448 60.65 448 96V416C448 451.3 419.3 480 384 480H64C28.65 480 0 451.3 0 416V96C0 60.65 28.65 32 64 32H384zM384 80H64C55.16 80 48 87.16 48 96V416C48 424.8 55.16 432 64 432H384C392.8 432 400 424.8 400 416V96C400 87.16 392.8 80 384 80z'/%3E%3C/svg%3E") no-repeat;
    background-position: .5px;
}

input[type=checkbox]:checked{
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' fill='%23E384F2'%3E%3C!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M211.8 339.8C200.9 350.7 183.1 350.7 172.2 339.8L108.2 275.8C97.27 264.9 97.27 247.1 108.2 236.2C119.1 225.3 136.9 225.3 147.8 236.2L192 280.4L300.2 172.2C311.1 161.3 328.9 161.3 339.8 172.2C350.7 183.1 350.7 200.9 339.8 211.8L211.8 339.8zM0 96C0 60.65 28.65 32 64 32H384C419.3 32 448 60.65 448 96V416C448 451.3 419.3 480 384 480H64C28.65 480 0 451.3 0 416V96zM48 96V416C48 424.8 55.16 432 64 432H384C392.8 432 400 424.8 400 416V96C400 87.16 392.8 80 384 80H64C55.16 80 48 87.16 48 96z'/%3E%3C/svg%3E");
    background-position: .5px;
}
input[type=radio]{
    appearance: none;
    position: relative;
    top: 2px;
    width: 16px;
    height: 16px;
    border: #828282 2px solid;
    border-radius: 50%;
    outline: none;
}

input[type=radio]:focus{
    border: #E384F2 2px solid;
    box-shadow: 0px 0px 5px #E384F2 ;
}

input[type=radio]:focus::before{
    content: "";
    display: block;
    position: relative;
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    background: #E384F2;
    border-radius: 50%;
}
input[type=radio]:checked{
    border: #E384F2 2px solid;
}

input[type=radio]:checked::before{
    content: "";
    display: block;
    position: relative;
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    background: #E384F2;
    border-radius: 50%;
}

input[type=checkbox].switch{
    transition: .1s;
    appearance: none;
    background: #333333;
    width: 45px;
    height: 24px;
    border: #E0ABFA 2px solid;
    border-radius: 50px;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
}

input[type=checkbox].switch::before{
    content: "";
    transition: .2s;
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    top: 1px;
    left: 1px;
}

input[type=checkbox]:checked.switch{
    background: #D87AEC;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
}

input[type=checkbox]:checked.switch::before{
    top: 1px;
    left: 22px;
}


/* bootstrap抄作業 */
/* .container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    }
  .row > * {
    flex-shrink: 0;
    max-width: 100%;
    } */

nav {
    height: 120px;

}

/* .avatar_maker {
    width: 1200px;
    height: 610px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 16px;
    position: relative;
} */

/* .basic_part {
    width: 375px;
    height: 100%;
    flex: 0 0 auto;
    padding-left: 60px;
    padding-right: 0;
    padding-top: 110px;
} */

/* .center_part {
    width: 450px;
    height: 100%;
    flex: 0 0 auto;
    padding: 50px 0 0 0;
} */

/* .body_part {
    width: 375px;
    height: 100%;
    flex: 0 0 auto;
    padding-left: 60px;
    padding-right: 40px;
    padding-top: 70px;
} */

.btns {
    padding-top: 5px;
}

.circle {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
    margin-left: 30px;
    margin-right: 30px;
}

.styling i {
    font-size: 50px;
}

.line {
    background-color: #fff;
    position: absolute;
}

.line:nth-child(1) {
    height: 2px;
    width: 90px;
    transform: translateX(-90px) translateY(16px);
}

.line:nth-child(2) {
    height: 200px;
    width: 2px;
    transform: translateX(-90px) translateY(16px);
}

.line:nth-child(3) {
    height: 2px;
    width: 250px;
    transform: translateX(-340px) translateY(215px);
}

.info div {
    color: #fff;
    background-color: transparent;
    border: #fff 1px solid;
    padding: 10px 40px;
    border-radius: 20px;
    margin-left: 20px;
}

.styling {
    height: 180px;
}

.hint_text {
    padding-top: 20px;
    color: #FF52BA;
}

.color .circle {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.size_btn {
    height: 20px;
    width: 90px;
    border: 1px solid #D259DD;
}

.active {
    background-color: #FFE9F6;
}

.basic_contorl {
    padding-bottom: 30px;
}

.avatar_title {
    padding-top: 50px;
    padding-left: 60px;
    position: absolute;
}

.avatar_title h2 {
    margin: 0;
}

.avatar_title p {
    padding-left: 5px;
    margin: 0;
    vertical-align: bottom;
}

.back {
    width: 50px;
    position: absolute;
    left: 1145px;
    top: 10px;
}

.back i {
    font-size: 40px;
}