# server

# dependencies
/server/node_modules
/server/.pnp
/server/.pnp.js

# testing
/server/coverage

# production
/server/build

# misc
/server/.DS_Store
/server/.env.local
/server/.env.development.local
/server/.env.test.local
/server/.env.production.local

/server/npm-debug.log*
/server/yarn-debug.log*
/server/yarn-error.log*



# client

# dependencies
/client/node_modules
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

# production
/client/build

# misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*



# custom
.gitignore
.vscode
.DS_Store

/server/.vscode
/server/.env
/server/package-lock.json

/client/.vscode
/client/package-lock.json



# for test or experimental codes
/server/models
/server/routes/test.js

/client/src/components/Test.jsx
/client/src/styles/test.scss



# stop logging
/server/README.md
/client/README.md