/*  ---------- CART --------- */



/*  -------- EventITem -------- */




/*  -------- Shipping -------- */


/*  -------- Payment --------- */
.creditcard-container .row{
    width: 85%;
    height: 95%;
    margin: auto;
  }


/* ------PersonForm ---------*/
.error-text{
  color: #FF52BA;
  font-size: 16px;
}


/*  -------- OrderDetail ------- */