@import '../../styles/variables.scss';
.yun-show{
    transition: all 1s ease;
   
}
.yun-start{ 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: calc(100vh - 96px);

    .yun-start-card{
            color: $bgc-D;
            font-family: $ff-t;
        
            width: 50%;

            height: 400px;
            padding: 40px ;
            border-radius: 20px;
            border: 3px solid $accent-blue;
            //  毛玻璃效果
            backdrop-filter: blur(2px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            text-align: center;
            // margin: 4% auto;            
            
            background-color: rgba(255, 255, 255, 0.01);
            box-shadow: 10px 10px $accent-blue-50p;
        //TODO:暗色模式
            // box-shadow: 10px 10px black;
            // background-color:rgba(0, 0, 0, 0.3);

            h3{
                font-size: $fz-h4;
                font-family: $ff-t;
                line-height: 3rem;
                padding-bottom: 20px;
                                }
            .yun-ques{
                
                font-size: $fz-body;
                font-weight: 500;
                line-height: 1.5rem;
                text-align: center;
                h3{
                    font-size: $fz-h2;
                    font-family: $ff-t;
                    line-height: 3rem;
                    padding-bottom: 0px;
                                    }
                
            }
            button{
                width: 60%;
                border-radius:20px;
                border: 2px solid  $accent-blue;
                padding: 12px 24px;
                font-weight: 600;
                font-size:$fz-h5 ;
                color: $bgc-D ;
                margin: 20px;
                box-shadow: 3px 3px $accent-blue-50p;
            }
            
            p{
                color: $alert ;
                font-size: $fz-caption ;
                font-weight: 600;
                line-height: 1.5rem;
            }
            
}
}

.yun-test{
    width: 100vw;
    height: calc(100vh - 96px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

$color-purple: #8B5CF6;
$color-pink: #EC4899;
$color-gray: #9CA3AF;
$color-black: #1F2937;
// $card-size: 500px;

.yun-carousel{
    position: relative;

    width: 50vw;
    height: 450px;
    perspective: 800px;
    transform-style: preserve-3d;


    .yun-card-container {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: 
        rotateY(calc(var(--offset) * 50deg)) 
        scaleY(calc(1 + var(--abs-offset) * -0.4))
        translateZ(calc(var(--abs-offset) * -30rem))
        translateX(calc(var(--direction) * -5rem));
    filter: blur(calc(var(--abs-offset) * 1rem));
    transition: all 0.3s ease-out;
    }
    
        
        .yun-card{
            color: $bgc-D;
            font-family: $ff-t;
         
            width: 100%;
            // margin: 0px 7%;
            // height: 500px;
            height: 100%;

            padding: 32px ;
            border-radius: 20px;
            border: 3px solid $accent-blue;
            //  毛玻璃效果
            backdrop-filter: blur(2px);
        
            text-align: justify;
            transition: all 0.3s ease-out;
            

        //TODO:暗色模式
            // box-shadow: 10px 10px black;
            // background-color:rgba(0, 0, 0, 0.3);
            background-color: rgba(255, 255, 255, 0.5);
            box-shadow: 10px 10px $accent-blue-50p;

            // text-align: center;
                
          
            .yun-ques{
                width: 100%;
                font-size: $fz-h5;
                font-weight: 500;
                line-height: 2rem;
                text-align: left;
                transition: all 0.3s ease-out;
                opacity: var(--active); 

                h3{
                    font-size: $fz-h2;
                    font-family: $ff-t;
                    line-height: 3rem;
                    padding-bottom: 20px;
                    }
             
                
            }
          

            .yun-opts{
                width: 100%;
                position: relative;
                height: 60%;
           
            
                margin: 36px 0px 0px 0px;
                transition: all 0.3s ease-out;
                opacity: var(--active); 

                display: flex;
                flex-direction: column;
                justify-content: center;
                
                .yun-radio-form{
                    width: 100%;
                    display: block;
                    margin: 20px auto 0px;
                    text-align: center;

                    input{
                        display: none;
                    }
                    label{
                        
                        width: 80%;
                        line-height: 2.5rem ;
                        box-shadow: 3px 3px $accent-blue;
                        border: 2px solid $accent-blue;
                        border-radius: 16px;
                        background-color: white  ;
                        font-size: $fz-subtitle;
                        letter-spacing: 0.25rem;
                        font-weight: 600;
                        color: $bgc-D;
                        transition: all 0.1s ease-out;

                        &:hover{
                            
                                width: 79.5%;
                                background-color: $bgc-D;
                                border: 2px solid  $accent-blue ;
                                box-shadow: 0px 0px $accent-blue;
                                font-size: 1.15rem;
                                
                            
                                color: #fff;
            
                           
                                
                                    
                                
                                
                            
                        }
                    }
                }
                }


            }

        }
        @media screen and (max-width: 768px) {
            .yun-start{
                height: calc(100vh - 50px);

            }
            .yun-test{
                height: calc(100vh - 50px);
            }
        }
        @media screen and (max-width: 992px) {
            .yun-start{
                height: calc(100vh - 96px);

                .yun-start-card{

                        color: $bgc-D;
                        font-family: $ff-t;
                    
                        width: 90%;
            
                        height: 500px;
                        padding: 32px ;
                        // margin: 0px auto;    
                        h3{
                            font-size: $fz-h4;
                            font-family: $ff-t;
                            line-height: 2rem;
                            padding-bottom: 20px;
                                            }
                        .yun-ques{

                            font-size: $fz-body;
                            font-weight: 500;
                            line-height: 1.5rem;
                            text-align: center;
                            
                        }
                         button{
                            width: 80%;
                            border-radius:20px;
                            border: 2px solid  $accent-blue;
                            padding: 12px 24px;
                            font-weight: 600;
                            font-size:$fz-title ;
                            color: $bgc-D ;
                            margin: 20px;
                            box-shadow: 3px 3px $accent-blue-50p;
            }
                }
            }

            .yun-test{
                height: calc(100vh - 96px);

                .yun-carousel{
                width: 90%;

                height: 500px;
                .yun-card{
                    padding: 50px 32px 20px ;
                    .yun-ques{
                        width: 100%;
                        font-size: $fz-title;
                        font-weight: 500;
                        h3{
                            font-size: $fz-h4;
                            font-family: $ff-t;
                            line-height: 3rem;
                            padding-bottom: 20px;
                            }
                    }
                    .yun-opts{
                        height: 60%;
                       .yun-radio-form{
                    width: 100%;
                    display: block;
                    margin: 12px auto 0px; 
                    
                    
                    label{
                    font-size: $fz-body;
                    // font-size: 1rem;
                    line-height: 1.8rem;
                    padding: 0px 20px;
                    width: 90%;

                   
                }
                } 
                    }

                }

                }

            }
            
        }
        
