@import '../../styles/variables.scss';
*{
    font-family: $ff-t;
}
.intro-container{ 
    position: relative;
    top: -50px;
    // padding-bottom:50px;
    background-color: rgb(31, 35, 87);
   
}

@media screen and (min-width:768px) {
    .intro-container{

        top: -96px;
    // padding-bottom:96px;

    }
}

@keyframes intro-scroll-guide {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }



.yun-fix-scroll{
    
    background-color: #fff;
    width: 50px;height: 50px;
    position:fixed;
    bottom: 5%;
    right: 5%;
    animation-name: intro-scroll-guide;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.yun-intro-skip{
    z-index: 10000;
    cursor: pointer;
    width: 200px;
    height: 20px;
    background-color: yellow;
    position: fixed;
    top: 5%;
    right: 5%;

}
.yun-scroll-pls{
    height: 100%;
}


  
  @keyframes star-shine{
    0%   { transform: scale(1);}
  
    50%{transform: scale(1.02);}

    100%   { transform: scale(1);}
  } 




.star{
    // border: solid 1px red;
   
    width: 11vw;
 
    height: 20vh;
    border-radius: 50%;
    background-color: #fff;
    


}
.starmask{
    // border: solid 1px red;
   
    width: 10.5vw;
    height: 22vh;  
    background-color: rgba(31, 35, 87);
    border-radius: 100%; 
    animation: star-shine ease-in 2s infinite alternate-reverse;
}

@media screen and (max-width:768px) {
    .star{
        width: 12vw;
 
        height: 14vh;
    

    }
    .starmask{
        width: 11vw;
        height: 18vh;  
    background-color: rgb(31, 35, 87);
    // background-color: rgba(31, 35, 87, 0.273);


    

    }
}


.mainstar{
    // border: 1px solid red;
    width: 50px;
    height: 50px;
    
    background: url(./introImg/mainStar/mainStar16.svg) center center no-repeat;
    background-size: cover;
    opacity: 1;
}
h2{ 
    font-family: $ff-t;
    color: rgb(223, 122, 122);
}

@media screen and (max-width:768px) {
    h2{
        font-size: 20px;
    }
}
@keyframes star-sparkle{
    0%   { opacity: 1;}
    33%{opacity: 0.5;}
    66%{opacity: 1;}
    100%   { opacity:0.5 ;}
} 

.otherStars{
    position: absolute;
    width: 100vw;
    height: 100vh;
}  
.otherStar{
    position: relative;
  
    
    animation: star-sparkle ease-in infinite alternate-reverse;
}
.otherStar:nth-child(1){
    
    width: 10px;
    height: 10px;
    background: url(./introImg/otherStar/otherStar1.svg)center center no-repeat;
    background-size: contain;
    top: 10%;
    left: 60%;
    animation-duration: 3s;
}
.otherStar:nth-child(2){
    
    width: 10px;
    height: 10px;
    background: url(./introImg/otherStar/otherStar1.svg)center center no-repeat;
    background-size: contain;
    animation-duration: 4s;
    top: 60%;
    left: 23%;
}
.otherStar:nth-child(3){ 
    
    width: 20px;
    height: 20px;
    background: url(./introImg/otherStar/otherStar2.svg)center center no-repeat;
    background-size: contain;
    animation-duration: 1s;
    top: 40%;
    left: 90%;}
.otherStar:nth-child(4){
    
    width: 20px;
    height: 20px;
    background: url(./introImg/otherStar/otherStar3.svg)center center no-repeat;
    background-size: contain;
    animation-duration: 5s;
    top: 20%;
    left: 10%;
}
.otherStar:nth-child(5){
    
    width: 14px;
    height: 14px;
    background: url(./introImg/otherStar/otherStar4.svg)center center no-repeat;
    top: 10%;
    left: 30%;
    background-size: contain;
    animation-duration: 3s;

}
.otherStar:nth-child(6){
    
    width: 20px;
    height: 20px;
    background: url(./introImg/otherStar/otherStar5.svg)center center no-repeat;
    top: 55%;
    left: 70%;
    background-size: contain;
    animation-duration: 1.5s;

}
.otherStar:nth-child(7){
    
    width: 10px;
    height: 10px;
    background: url(./introImg/otherStar/otherStar3.svg)center center no-repeat;
    top: 75%;
    left: 80%;
    background-size: contain;
    animation-duration: 2.5s;
}
.god{
    width: 300px;
    height: 300px;
    background: url(./introImg/god/god.svg)center center no-repeat;
    background-size: contain;


}