.place-container {
    /* 地圖顯示區 */
    .place-map-wrap {
        width: 100%;
        border-radius: 16px;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 10px;
        border-radius: 16px;
        max-height: 55vh;
        height: 55vh;
        flex-grow: 1;
        flex-shrink: 1;
        position: relative;
    }

    .map-list-wrap {
        height: 100%;
        width: 100%;
        display: flex;
        gap: 10px;
    }

    // 地圖map旁列表 and 手機板?
    .place-sideList {
        max-height: 55vh;
        width: 22%;
        overflow-y: scroll;
        padding-right: 10px;

        > .list-card {
            width: 100%;
            height: fit-content;
            display: block;
            padding: 12px 0 15px 12px;
            margin: 5px 0 8px;
            position: relative;
            cursor: pointer;

            .list-card-title {
                display: block;
                font-size: 18px;
                width: fit-content;
                padding: 0;
                margin-top: 15px;

                p.yeartitle {
                    margin: 5px;
                }
                p.cityTitle,
                .map-icon-list {
                    display: inline-block;
                    margin: 0 5px;
                    vertical-align: bottom;
                }
                .map-icon-list {
                    width: 15px;
                }
            }

            .price-wrap {
                color: rgba(34, 34, 34, 0);
                margin-left: 5px;
            }

            .remain-quant {
                padding: 8px 15px;
                margin: 0;
            }

            .remain-quant,
            .price-wrap {
                display: inline-block;
                font-size: 14px;
                width: fit-content;
                height: fit-content;
                vertical-align: bottom;

                .price {
                    padding: 5px 10px 5px;
                    width: fit-content;

                    svg {
                        width: 28px;
                        height: fit-content;
                    }
                    span {
                        font-size: 18px;
                    }
                }
            }

            .place-btns-wrap {
                position: absolute;
                top: 0;
                right: 0;
                height: fit-content;
                width: fit-content;

                .place-likeBtn,
                .place-cartBtn {
                    padding: 10px 12px;
                    width: fit-content;
                    border-radius: 0 0 0 16px;

                    svg {
                        width: 18px;
                    }
                }
                .place-cartBtn {
                    border-radius: 0;
                }
            }
        }
    }
    .place-map {
        height: 100%;
        width: 78%;
    }

    .map-container {
        height: 100%;
        width: 100%;
        z-index: 2;
        border-radius: 16px;

        .priceIcon {
            background-color: #ce59e7;
            border-radius: 20px;
            padding: 2px 5px;
            display: flex;
            gap: 2px;
            align-items: center;
            width: fit-content !important;
            height: fit-content !important;
            font-size: 14px;
            color: #fff;
            border: 2px solid #fff;

            img {
                width: 18px;
                height: 18px;
            }
        }

        .clusterStyle-10 {
            padding: 25px;
            background: url('../../img/map_cluster-10.svg') center center/cover;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .clusterStyle {
            padding: 18px;
            background: url('../../img/map_cluster.svg') center center/cover;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        // .leaflet-control-zoom-in,
        // .leaflet-control-zoom-out {
        //     border: 1px solid #eee;
        // }

        // popup資訊框
        .leaflet-popup-content-wrapper {
            padding: 0;
            overflow: hidden;

            .leaflet-popup-content {
                margin: 0;

                .map-popup-card {
                    margin: 25px 20px 15px;

                    .list-card-title {
                        > p {
                            margin: 5px;
                            font-size: 16px;
                            font-weight: bold;
                        }
                    }

                    .popup-card-bottom {
                        display: flex;
                        gap: 8px;
                        font-size: 14px;
                        margin: 12px 0;
                        vertical-align: bottom;
                        align-items: center;

                        .remain-quant {
                            padding: 2px 14px;
                            line-height: 32px;
                            font-weight: bold;
                        }

                        .price-wrap {
                            .price {
                                border-radius: 30px;
                                padding: 2px 10px;
                                background-color: #81a8e0;
                                color: #fff;
                                font-size: 18px;
                                letter-spacing: 2px;

                                svg {
                                    width: 28px;
                                    margin-right: 5px;
                                    path {
                                        fill: #fff;
                                    }
                                }
                            }
                        }
                    }
                }

                .place-btns-wrap {
                    margin: 0;
                    width: 100%;
                    transform: translate(-2px, 0);

                    > div {
                        padding: 10px;
                        width: 50%;
                    }
                }
            }
        }

        // popup資訊框arrow
        .leaflet-popup-tip {
            // background: linear-gradient(to right, #ce59e7 50%, #6247f4 50%);
            display: none;
        }
    }
}
