.yun-card-container{
    width: 650%;
    height: 450px;
    background-color: #fff;
    display: flex;
        
        .yun-card{
            width: 800px;
            margin: 0px 150px;
            height: 100%;
            background-color: rgb(208, 91, 91);

        }
}
