@import '../../styles/variables.scss';
.yun-card-container{
    
    height: 550px;
    overflow-x: scroll;
    display: flex;
        
        .yun-card{
            color: $bgc-D;
            font-family: $ff-t;
            flex-shrink: 0;
            width: 60%;
            margin: 0px 25%;
            height: 500px;
            padding: 40px ;
            border-radius: 20px;
            border: 3px solid $accent-blue;
            //  毛玻璃效果
            backdrop-filter: blur(20px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            

        //TODO:暗色模式
            // box-shadow: 10px 10px black;
            // background-color:rgba(0, 0, 0, 0.3);
            background-color: rgba(255, 255, 255, 0.01);
            box-shadow: 10px 10px $accent-blue-50p;

            text-align: center;
                
            h3{
                    font-size: $fz-h2;
                    font-family: $ff-t;
                    line-height: 3rem;
                    padding-bottom: 20px;
                }
            .yun-ques{
                width: 80%;
                font-size: $fz-h5;
                font-weight: 500;
                line-height: 2rem;
                text-align: left;


             
                
            }
            button{
                width: 60%;
                border-radius:20px;
                border: 2px solid  $accent-blue;
                padding: 12px 24px;
                font-weight: 600;
                font-size:$fz-h5 ;
                color: $bgc-D ;
                margin: 20px;
                box-shadow: 3px 3px $accent-blue-50p;
            }
            
            p{
                color: $alert ;
                font-size: $fz-caption ;
                font-weight: 600;
                line-height: 2rem;
            }

            .yun-opts{
                width: 80%;

                text-align: left;
            
                margin: 24px 0px 0px 0px;
                .yun-radio-form{
                    display: block;
                    border: 2px solid $accent-blue;
                    border-radius: 16px;
                    background-color: white  ;
                    box-shadow: 3px 3px $accent-blue;
                    padding: 16px;
                    margin-top: 16px;
                    text-align: center;

                    input{
                        display: none;
                    }
                    label{
                        margin-left: 8px;
                        font-size: $fz-subtitle;
                        letter-spacing: 0.25rem;
                        font-weight: 600;
                        color: $bgc-D;

                    }
                }
            }

        }
        .yun-card:nth-child(1) {
            .yun-ques{
                
                font-size: $fz-body;
                font-weight: 500;
                line-height: 1.5rem;
                text-align: center;
                
            }
            
        
        }
        .yun-card:nth-child(3n+1) {             
            border: 3px solid $accent-blue;
            }
        .yun-card:nth-child(3n+2) { 
            border: 3px solid $accent-blue;
        }
        .yun-card:nth-child(3n) {
            border: 3px solid $accent-blue;
        }
}
