/* 正式上線改用 bootstrap-grid.min.css */
@import '~bootstrap/scss/bootstrap-grid.scss';

/* 引入自定義變數 */
@import '../../styles/variables.scss';


.event-container{
  position: relative;
  padding-top: 80px;

  >.row{
    width: 100%;
    margin: 0px;

    .event-selector{
      display: none;
    }

    .xuan-eventlist-bar{
    
        .event{
          padding-top: 30px;
          width: 95%;
          margin: auto;    
        }

    }


  }
}


.event-card{
  width: 100%;
  margin: auto;
  background-color: white;
  margin-bottom: 40px;
  border-radius: 0px 15px 15px 15px;
  padding: 15px 30px 15px 20px;
  color: #3C3B67;
  display: flex;
  justify-content: space-between;
  position: relative;

  >.good-cost{
    background-color: #CE59E7;
    padding: 7px;
    border-radius: 10px 10px 0px 0px;
    color: white;
    position: absolute;
    left: 0px;
    top:-25px;
  }

  .event-type{
    background-color: #9587E1;
    padding: 7px;
    border-radius: 10px 10px 0px 0px;
    color: white;
    position: absolute;
    left: 100px; 
    top:-25px;
  }

  .program-type{
    background-color: #B9DED2;
    padding: 7px;
    border-radius: 10px 10px 0px 0px;
    color: white;
    position: absolute;
    left: 150px; 
    top:-25px;
  }


  .event-img{
    width: 25%;
    height: 70px;
    border-radius: 10px;
    background-color: rgb(177, 177, 177);
    margin-right: 10px ;
    max-width: 140px;
  }

  .event-title-group{
    width: 65%;
    margin-right: 5px;

    .event_title{
      margin-bottom: 10px;
    }

    .event_npo_name{
      margin-bottom: 5px;
    }

    
  }

  .event-cost{
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

// TODO: 手機版先消失
.xuan-event-city{
  display: none;
}


.xuan-eventlist-bar{
  max-height: 3000px;
}




// 桌機版 
@media screen and (min-width: 992px) {


.event-container{

  padding-top: 20px;

  >.row{
    width: 85%;
    display: flex;
    margin: auto;

    .event-selector{
      display: block;
      width: 20%;
    }

    
    .xuan-eventlist-bar{
      width: 80%;
      display: flex;
      max-height: 580px;
      padding-top: 30px;

      .event{
        padding-top: 0px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;


            .event-card{
              background-color: white;
              border-radius: 0px 15px 15px 15px;
              margin-left: 15px;
              margin-right: 5px;
              text-align: center;
              position: relative;
              box-shadow: 3px 5px 5px 0px rgba(121, 121, 121, 0.25);
              max-width: 220px;
              display: block;
              padding: 0px;
              min-width: 230px;
              min-height: 250px;
          
              >.event-img{
                max-width:none ;
                margin: 0px;
                width: 100%;
                min-height: 110px;
                margin-bottom: 0px;
                border-radius: 0px 15px 0px 0px ;
              }


              >.event-title-group{
                width: 100%;
             

                >.event_title_bg{
                  min-height: 38px;
                  background-color: #F3F59F;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  color: #3C3B67;
                  margin-bottom: 10px;
                  
                  >.event_title{
                    padding: 10px auto;
                    margin-bottom: 0px;
                  }
                }

                >.event_npo_name{
                  margin-bottom: 10px;
                }

                >.event-time{
                  background-color: #9587E1;
                  min-height: 30px;
                  color: white;
                  margin: auto 20px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 5px;
                  margin-bottom: 10px;
                }
              }

              .event-cost{
                width: 100%;
                padding: 5px auto;

                >.xuan-event-city{
                  display: block;
                  margin-right: 5px;
                }
              }
          
          }

          .event-card:hover{
            transition: .2s;
            transform: translateY(-3px);
            box-shadow: 3px 10px 10px 2px rgba(121, 121, 121, 0.25);
          }

        


      }



  }



  }



}





}

// .xuan-eventlist-bar{
//   max-height: 450px;
//   // width: 100%;
//   outline: 5px solid blue;
//   display: flex;
//   // flex-direction: row;
//   // flex-wrap: wrap;
//   // align-items: flex-start;
//   // justify-content: flex-start;
// }