/* 正式上線改用 bootstrap-grid.min.css */
@import '~bootstrap/scss/bootstrap-grid.scss';

/* 引入自定義變數 */
@import '../../styles/variables.scss';


.event-container{
  position: relative;
  // outline: 1px solid red;

  >.row{
    width: 100%;
    margin: 0px;

    .event-selector{
      width: 97%;
      min-height: 30px;
      margin: 15px auto;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

        .xuan-sortby{
          margin-right: 10px;
        }


        .xuan-click-noshow{
          display: none;
          visibility: hidden;
        }

        .xuan-click-show{
          display: block;
          visibility:visible;
          position: fixed;
          bottom: 0px;
          width: 100vw;
          height: 70%;
          background-color: white;
          z-index: 1500;
          border-radius: 30px 30px 0px 0px ;
          padding-top:30px;

            >div:nth-child(1){
              z-index: 1600;
              width: 15%;
              margin-left: auto;
            }

            >div:nth-child(2){
              z-index: 1600;
              color:#3C3B67;
              width: 100%;
              margin: 10px auto;
              margin-bottom: 20px;
              text-align: center;
            }

            .xuan-search-bar {
              text-align: center;
              width: 60%;
              margin: auto;
              z-index: 1600;
              margin-bottom: 30px;
              // outline: 1px solid red;
              position: relative;

              img{
                width: 20px;
                height: 20px;
                // outline: 1px solid blue;
                position: absolute;
                right: 10px;
                top:10px;
              }

              >input{
                width: 100%;
                max-width: 340px;
              }

            }

            // 價格 活動種類 地區
            .xuan-filter-all-bar{
              z-index: 1600;
              width: 95%;
              margin: auto;


                .xuan-reset-filter-bar{
                  width: 100%;
                  text-align: center;

                  button{
                    margin: auto;
                  }
                }

            

                .xuan-price-filter{
                  text-align: center;
                  margin-bottom: 20px;
                  width: 100%;
                  color: #3C3B67;
                  // outline: 1px solid red;
                  position: relative;

                      img{
                        width: 16px;
                        height: 16px;
                        position: absolute;
                        top: 0px;
                        left: 40%;
                      }

                      .xuan-label-title{
                        color: #3C3B67;
                      }


                      .d-flex{
                        align-items: center;
                        justify-content: center;
                      
                      }

                      .xuan-title{
                        margin-bottom: 15px;
                        font-size: $fz-subtitle;
                        font-family: $ff-t ;
                        font-weight: 500 ;
                      }
                }

                .xuan-type-filter{
                  width: 100%;
                  color: #3C3B67;
                  margin-bottom: 30px;
                  position: relative;

                  img{
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    top: 0px;
                    left: 36%;
                  }
                

                  >.xuan-title{
                    margin-bottom: 10px;
                    font-size: $fz-subtitle;
                    font-family: $ff-t ;
                    font-weight: 500 ;
                    margin-bottom: 15px;
                    text-align: center;
                  }

                  .d-flex{
                    align-items: baseline;
                    justify-content:center;
                    margin-right: 3px;
                  }

                  .xuan-label-title{
                    font-size: 16px;
                    color: #3C3B67;
                  }

                  input{
                    width: 16px;
                    height: 16px;
                  }



                }
                .xuan-area-filter{
                  width: 100%;
                  color: #3C3B67;
                  margin-bottom: 30px;
                  position: relative;

                  img{
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    top: 0px;
                    left: 36%;
                  }


                  .xuan-label-title{
                    font-size: 16px;
                    color: #3C3B67;
                  }

                  input{
                    width: 16px;
                    height: 16px;
                  }

                  >.xuan-title{
                    margin-bottom: 15px;
                    font-size: $fz-subtitle;
                    font-family: $ff-t ;
                    font-weight: 500 ;
                  }

                  h4{
                    text-align: center;
                  }

                  .d-flex{
                    align-items: baseline;
                    justify-content: center;
                    margin-right: 3px;
                  }


                }

            }

          

        }

        .xuan-event-more{
          background-color: white;
          padding: 7px 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          border: #9587E1 2px solid;
          color: #3C3B67;
          height: 40px;
          font-size: 1rem;
        }
    }

    .xuan-eventlist-bar{
    
        .event{
          padding-top: 30px;
          width: 95%;
          margin: auto;    
        }

    }




  }
  
}









.event-card{
  width: 100%;
  margin: auto;
  background-color: white;
  margin-bottom: 45px;
  border-radius: 0px 15px 15px 15px;
  padding: 15px 25px 15px 10px;
  color: #3C3B67;
  display: flex;
  justify-content: space-between;
  position: relative;

  >.good-cost{
    background-color: #CE59E7;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    color: white;
    position: absolute;
    left: 0px;
    top:-24px;
    font-size: $fz-caption;

            img{
              margin-right: 5px;
            }
    
  }

  .event-type{
    background-color: #9587E1;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    color: white;
    position: absolute;
    left: 115px; 
    top:-24px;
    font-size: $fz-caption;
  }

  .program-type{
    background-color: #B9DED2;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    color: white;
    position: absolute;
    left: 165px; 
    top:-24px;
    font-size: $fz-caption;
  }


  .event-img{
    width: 32%;
    height: 70px;
    border-radius: 10px;
    background-color: rgb(177, 177, 177);
    margin-right: 10px ;
    max-width: 140px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    >img{
      height: 100%;
    }

  }

  .event-title-group{
    width: 65%;
    margin-right: 5px;

    .event_title{
      margin-bottom: 10px;
      font-size: 1rem;
    }

    .event_npo_name{
      margin-bottom: 10px;
      font-size: $fz-caption ;
    }

    .event-time{
      font-size: $fz-caption ;
    }

    
  }

  .event-cost{
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

// TODO: 手機版先消失
.xuan-event-city{
  display: none;
}


.xuan-eventlist-bar{
  max-height: 3000px;
}


// 手機版不會出現
.xuan-desk-searchbar{
  display: none;
}

.xuan-desk-filter-bar{
  display: none;
}

// 在手機版把活動種類去掉
.xuan-event-type{
  display: none;
}

.xuan-event-type-select{
  display: none;
}

.xuan-event-type-star{
  display: none;
}







// 桌機版 
@media screen and (min-width: 992px) {


.event-container{

  padding-top: 20px;

  >.row{
    max-width: 1300px;
    width: 87%;
    display: flex;
    margin: auto;
    // outline: 1px solid blue;


    // 篩選區
    .event-selector{
      width: 20%;
      display: block;
      padding-top: 15px;


      // 請選擇排序
      .xuan-sortby{
        // outline: 1px solid red;
        width: 100%;

        select{
          width: 100%;
        }
      }

      // 「更多」這個按鍵桌機版消失
      .xuan-event-more{
        display: none;
      }

      // 桌機版searchbar出現
      .xuan-desk-searchbar{
        display: block;
        // outline: 1px solid red;
        padding-top: 15px;
        margin-bottom: 15px;

        input{
          width: 100%;
        }
      }
      // 桌機版filterbar出現
      .xuan-desk-filter-bar{
        display: block;
        //outline: 1px solid blue;

          .xuan-title{
            background-color: white;
            border-radius: 10px;
            color: #3C3B67;
            text-align:left;
            height: 35px;
            padding: 7px 10px;
            display: flex;
            align-items: center;
            // justify-content:flex-start;
            font-size: 1.25rem;
            font-family: "Noto Sans TC";
            font-weight: 500;
            margin-bottom: 15px;
          }


          // 取消不要flex
          .xuan-price-filter{
            position: relative;
            color: #3C3B67;

              

              h4{
                // outline: 1px solid red;
                padding-left: 35px;
              }

              img{
                width: 16px;
                height: 16px;
                position: absolute;
                top: 14%;
                left: 5%;
              }

              .d-flex{
                flex-wrap: wrap;
                margin-right: 10px;
                margin-bottom: 10px;
              }

              .form-check{
                padding-left: 0px;
                padding-right: 7px;
                margin-bottom: 5px;
              }

              .xuan-label-title{
                color: #3C3B67;
              }
            
          }

          .xuan-type-filter{
            position: relative;
            color: #3C3B67;

              h4{
                // outline: 1px solid red;
                padding-left: 35px;
              }

              img{
                width: 16px;
                height: 16px;
                position: absolute;
                top: 9%;
                left: 5%;
              }

            .d-flex{
              flex-wrap: wrap;
              justify-content: flex-start;
              margin-bottom: 10px;
              margin-right: 10px;

              input{
                width: 14px;
                height: 14px;
              }

            }

            .xuan-label-title{
              color: #3C3B67;
            }
          }

          .xuan-area-filter{
            position: relative;
            color: #3C3B67;

              h4{
                // outline: 1px solid red;
                padding-left: 35px;
              }

              img{
                width: 16px;
                height: 16px;
                position: absolute;
                top: 9%;
                left: 5%;
              }

            .d-flex{
              flex-wrap: wrap;
              justify-content: flex-start;
              margin-bottom: 10px;
              margin-right: 10px;

              input{
                width: 14px;
                height: 14px;
              }

            }

            .xuan-label-title{
              color: #3C3B67;
            }

          }

          .xuan-reset-filter-bar{
            text-align: right;
          }


      }
      
    }

    



    .xuan-eventlist-bar{
      width: 80%;
      display: flex;
      max-height: 800px;
      padding-top: 30px;

      .event{
        // outline: 1px solid red;
        padding-top: 15px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;


            .event-card{
              min-height: 297px;
              background-color: white;
              border-radius: 0px 15px 15px 15px;
              margin-left: 12px;
              margin-right: 12px;
              text-align: center;
              position: relative;
              box-shadow: 3px 5px 5px 0px rgba(121, 121, 121, 0.25);
              max-width: 220px;
              display: block;
              padding: 0px;
              min-width: 230px;
              min-height: 260px;
              margin-bottom: 55px;

              .event-type{
                left: 120px;
                padding: 7px;
                top:-28px;
                font-size: $fz-caption ;
              }

              .program-type{
                left: 169px;
                padding: 7px;
                top:-28px;
                font-size: $fz-caption ;
              }

              .good-cost{
                font-size: $fz-caption ;
                padding: 7px;
                top:-28px;

                    img{
                      margin-right: 5px;
                    }
              }

          
              >.event-img{
                max-width:none ;
                margin: 0px;
                width: 100%;
                min-height: 110px;
                margin-bottom: 0px;
                border-radius: 0px 15px 0px 0px ;
              }


              >.event-title-group{
                width: 100%;
            

                >.event_title_bg{
                  min-height: 38px;
                  background-color: #F3F59F;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  color: #3C3B67;
                  margin-bottom: 10px;
                  
                  >.event_title{
                    padding: 10px auto;
                    margin-bottom: 0px;
                    font-size: 1.25rem;
                  }
                }

                >.event_npo_name{
                  margin-bottom: 10px;
                  font-weight: 500;
                }

                >.event-time{
                  background-color: #9587E1;
                  min-height: 30px;
                  color: white;
                  margin: auto 20px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 5px;
                  margin-bottom: 10px;
                

                }
              }

              .event-cost{
                width: 100%;
                padding: 5px auto;
                // outline: 1px solid red;

                >.xuan-event-city{
                  display: block;
                  margin-right: 5px;
                  font-weight: 500 ;
                }

                .xuan-eventcard-price{
                  font-weight: 500 ;
                }
              }
          
          }

          .event-card:hover{
            transition: .2s;
            transform: translateY(-3px);
            box-shadow: 3px 10px 10px 2px rgba(121, 121, 121, 0.25);
          }

        


      }



  }



  }



}


// 活動種類
.xuan-event-type{
  display: block;
  background-color: white;
  border-radius: 10px;
  color: #3C3B67;
  text-align: left;
  height: 35px;
  padding: 7px 10px;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-family: "Noto Sans TC";
  font-weight: 500;
  margin-bottom: 15px;
  padding-left: 35px;
}

.xuan-event-filter-wrap{
  position: relative;
}

.xuan-event-type-star{
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 26%;
  left: 5%;

}
        

.xuan-event-type-select{
  display: block;
  display: flex;
  flex-wrap: wrap;
  margin-right: 10px;
  margin-bottom: 10px;

  input{
    width: 14px;
    height: 14px;
  }

  .xuan-label-title{
    margin-right: 7px;
    margin-bottom: 7px;
  }
}


.xuan-sortby{
  margin-bottom: 15px;
}


// search bar 裝飾圖樣
.xuan-search-bar {
  // text-align: center;
  // width: 60%;
  // margin: auto;
  // z-index: 1600;
  // margin-bottom: 30px;
  // outline: 1px solid red;
  position: relative;

  img{
    width: 20px;
    height: 20px;
    // outline: 1px solid blue;
    position: absolute;
    right: 10px;
    top:10px;
  }

  // >input{
  //   width: 100%;
  //   max-width: 340px;
  // }

}




}
