* {
    box-sizing: border-box;
}

.showcase {
    margin: auto;
    width: 350px;
    overflow: hidden;
}

.showcaseCard {
    text-align: center;
    border-radius: 12px;
    padding: 15px 0;
}

.showcaseCardIMG img {
    width: 300px;
}

.showcaseCardTitle {
    font-size: 20px;
    padding: 10px 0px;
}

.showcaseCardTime {
    font-size: 16px;
    padding: 5px 0px;
    font-weight: normal;
}

.avatarConbination {
    font-weight: 400;
    font-size: 16px;
}

.showcaseBtns {
    display: flex;
    justify-content: center;
}

.showcaseBtns div {
    height: 40px;
    width: 90px;
    margin: 10px 10px;
    padding-top: 10px;
    border-radius: 12px;
    cursor: pointer;
}


@media screen and (min-width: 992px) {
    .showcaseCard {
        display: flex;
        width: 800px;
        position: relative;
        margin: auto;
    }

    .showcaseCardTitle {
        position: absolute;
        font-size: 32px;
        padding: 10px 0px;
        left: 500px;
        top: 30px;
    }

    .showcaseCardTime {
        position: absolute;
        font-size: 16px;
        padding: 5px 0px;
        font-weight: normal;
        left: 500px;
        top: 90px;
    }

    .showcaseCardIMG {
        order: 0;
    }

    .showcaseCardIMG img {
        width: 450px;

    }

    .showcaseText {
        text-align: left;
        padding-top: 110px;
        padding-left: 50px;
    }

    .avatarTotalPrice {
        text-align: center;
    }

    .showcaseBtns {
        text-align: center;
    }

}