/* 正式上線改用 bootstrap-grid.min.css */
@import '~bootstrap/scss/bootstrap-grid.scss';

/* 引入自定義變數 */
@import '../../../styles/variables.scss';



.xuan-finally-container{
  width: 100%;
  height: 100vh;


}


// 訂單明細 container
.xuan-finally-container{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.744);
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;

    .xuan-finally-center-block{
      width: 90%;
      margin: auto;
      background-color: white;
      border-radius: 15px;
      padding: auto 10px;
      padding-top: 15px;
      padding-bottom: 20px;
      max-width: 550px;
      text-align: center;
      color: #3C3B67;

            .xuan-h5{
              margin-bottom: 7px;
            }

            p:nth-child(2){
              margin-bottom: 10px;
            }

          // p{
          //   margin-bottom: 10px;
          // }

          .xuan-finally-infor{
            // outline: 1px solid red;
            width: 100%;
            padding: auto 20px;
            text-align: center;
            margin-bottom: 5px;

              button{
                margin-bottom: 25px;
              }


              .xuan-finally-infor-left{
                text-align: left;
                padding: 10px 30px;
                padding-bottom: 0px;
                // outline: 1px solid red;

                    div:nth-child(1){
                        // outline: 1px solid red;
                        background-color: #E384F2;
                        color: white;
                        padding: 10px 5px;
                        border-radius: 5px;
                        width: 50%;
                        margin: auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 20px;

                            p{
                              margin-bottom: 0px;
                            }

                    }

                    .d-flex{
                      p:nth-child(1){
                        margin-right: 10px;
                      }
                    }

                  
              }

              .xuan-finally-infor-right{
                text-align: left;
                padding: 15px 30px;
                // outline: 1px solid blue;
              }

          }
    }

}

.xuan-finally-title{
  background-color: #EDEFF7;
  padding: 4px;
  border-radius: 5px;
  margin-right: 7px;
  // margin-bottom: 10px;
}

.xuan-orderdetail-p{
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  // justify-content: center;
}


// 桌機版放這邊
@media screen and (min-width: 992px) {

  .xuan-finally-infor{
    display: flex;
    justify-content: center;
  
      .xuan-finally-infor-left{

              div:nth-child(1){
                margin: 0px;
                  width: 90%;
                  margin-bottom: 15px; 
                  min-width: 170px; 
                  margin-top: 5px;   
                        p{
                          font-family: $ff-t, $ff-h;
                          font-weight: 700;
                          font-size: $fz-title;
                        }     
              }
      }
  }


}