@import "../../styles/variables.scss";

.page-title {
    font-family: $ff-h, $ff-t;
    font-weight: 700;
    color: $primary;
    font-size: $fz-title
}

.page-field {
    font-family: $ff-t, $ff-h;
    font-weight: 500;
    color: $secondary;
    font-size: $fz-body
}

input[type=text], input[type=email], input[type=password] {
    font: 400 16px var(--text-font), Arial, sans-serif;
    outline: none;
    height: 40px;
    border-radius: 10px;
}

input[type=text]::placeholder, input[type=email]::placeholder, input[type=password]::placeholder{
    color:#BDBDBD;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus{
    border: $secondary 2px solid;
    outline: none;
}

input[type=text]:focus::placeholder, input[type=email]:focus::placeholder, input[type=password]:focus::placeholder{
    color: transparent;
}

input[type=text].error, input[type=email].error, input[type=password].error {
    border: var(--alert-l) 2px solid;
    outline: none;
}

.fa-solid {
    font-size: 30px;
    text-align: center;
    color: $secondary
}

.breadcrumb-item-link {
    border-radius: 15px;
    padding: 3px 10px;
    line-height: 30px;
    text-decoration: none;
    font-family: $ff-t, $ff-h;
    color: $secondary;
    background-color: $highlight
}

.breadcrumb-item-link:hover {
    border-radius: 15px;
    padding: 3px 10px;
    line-height: 30px;
    text-decoration: none;
    font-family: $ff-t, $ff-h;
    color: #fff;
    background-color: $accent-blue
}

.btn {
    height: 32px;
    font:700 var(--text-font), Arial, sans-serif;
    border-radius: 12px;
}

.btn:hover {
    color: #FFF;
    background-color: $primary
}

.btn-sec{
    background-color: #E7ACF3;
    border: 1px solid #fff;
}

.btn-ter{
    background-color: #fff;
    border: 1px solid $secondary;
    color: $secondary;
}

.btn-ter:hover{
    background-color: $secondary;
    border: 1px solid $secondary;
    color: #fff;
}

button {
    position: relative;
    transition: .3s;
    border-color: transparent;
    color: #fff;
    filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.25));
}

button:hover {
    filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.5));
}

button:active {
    left: 1px;
    top: 1px;
    filter: drop-shadow(2px 2px 0px transparent);
}


.link {
    font-family: $ff-t, $ff-h;
    color: $secondary;
    font-size: $fz-body;
    border-color: $secondary;
    text-decoration: none;
    transition: .4s;
}

.link:hover {
    font-family: $ff-t, $ff-h;
    color: $primary;
    font-size: $fz-body;
    text-decoration: none
}

.alert-success {
    color: $accent-blue;
    background-color: $highlight;
    border: $highlight;
}

.alert-error {
    color: $alert;
    background-color: $highlight;
    border: $highlight;
}