@import '../../styles/variables.scss';

// 此頁面一定 100vh 所以應該可以用 position absolute

.cpl-nextlife-container-fluid {
    // background-color: #12345612;
    position: absolute;
    top: $height-nav-mobile;
    bottom: 0;
    left: 0;
    right: 0;
}

@media screen and (min-width: 768px) {
    .cpl-nextlife-container-fluid {
        top: $height-nav;
    }
}

.cpl-nextlife-magic-cube-container {
    position: absolute; // FIXME: 手機版應該不能滑動 沒問題
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}

.cpl-nextlife-magic-cube-container.isShown {
    animation: cpl-nextlife-cube-isShown 2s;
}

@keyframes cpl-nextlife-cube-isShown {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.cpl-nextlife-magic-cube-container.isHidden {
    animation: cpl-nextlife-cube-isHidden 2s;
}

@keyframes cpl-nextlife-cube-isHidden {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.container.cpl-nextlifer-container-isMade {
    // background-color: #FF000033;
    font-family: $ff-h;
    color: $bgc-D;
    font-size: 4rem;
    height: calc(var(--vh, 1vh) * 100 - $height-nav-mobile);
}

@media screen and (min-width: 576px)  {   
    .container.cpl-nextlifer-container-isMade {
        font-size: 6rem;
    }
}

@media screen and (min-width: 768px)  {   
    .container.cpl-nextlifer-container-isMade {
        height: calc(var(--vh, 1vh) * 100 - $height-nav);
    }
}