@import "../../styles/variables.scss";

.member-page-title {
    font-family: $ff-h, $ff-t;
    font-weight: 700;
    color: $primary;
    font-size: $fz-title
}

.member-page-field {
    font-family: $ff-t, $ff-h;
    font-weight: 500;
    color: $secondary; 
    font-size: $fz-body;
}

.member-page-avatar-position {
    width: 150px;
    height: 120px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    right: 16px;
}

.member-page-avatar {
    width: 300%;
    position: relative;
    left: -100%;
    top: 5%;
}

.member-page-card {
    background-image: linear-gradient(180deg, #EDEFF7, #d6dae4);
    background-repeat: no-repeat;
    // background-color: #f3f3f3;
    border: none;
    overflow: hidden;
}

.member-page-avatar-position:hover {
    color: #FFF;
    filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.25));
}

.member-page-name {
    font-family: $ff-t, $ff-h;
    font-weight: 700;
    color: $secondary; 
    font-size: $fz-subtitle;
}

.member-page-place {
    font-family: $ff-t, $ff-h;
    font-weight: 700;
    color: $secondary; 
    font-size: $fz-subtitle;
}

.member-event-default {
    font-family: $ff-t, $ff-h;
    font-weight: 500;
    color: $secondary; 
    font-size: $fz-body;
    text-align: center;
}

.member-event-info {
    font-family: $ff-h, $ff-t;
    font-weight: 700;
    color: $secondary;
    font-size: $fz-subtitle
}

.member-event-info-2 {
    font-size: 14px;
    color:#3C3B67;
}

.member-event-field {
    font: 400 16px var(--text-font), Arial, sans-serif;
    color: #BDBDBD;
}

.member-event-bg {
    overflow-y: scroll;
    height: 542px;
    padding: 20px;
    border-radius: 25px;
}

.member-event-bg::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
    border-radius: 25px;
}

.member-event-bg::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
    border-radius: 25px;
}

.member-event-bg::-webkit-scrollbar-thumb
{
    background-image: linear-gradient(180deg, $primary, $secondary);
    background-repeat: no-repeat;
    border-radius: 25px;
	// background-color: $secondary;
}

.btn-member {
    height: 32px;
    font:700 var(--text-font), Arial, sans-serif;
    border-radius: 10px;
    position: relative;
    width: 100%;
    transition: .3s;
    border-color: transparent;
    color: #fff;
    filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.25));
}

.btn-member:hover {
    filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.5));
    color: #FFF;
    background-color: $primary
}

.btn-member:active {
    left: 1px;
    top: 1px;
    filter: drop-shadow(2px 2px 0px transparent);
}

.btn-member-pri{
    background-color: $secondary;
}

.btn-member-l {
    height: 40px;
    font:700 18px var(--text-font), Arial, sans-serif;
    border-radius: 12px;
}

.btn-member-sec {
    background-color: #E7ACF3;
}

.btn-member-ter {
    background-color: #fff;
    color: $secondary;
}

.btn-member-ter:hover {
    background-color: $secondary;
    color: #fff;
}

.btn-member-sent {
    font:700 var(--text-font), Arial, sans-serif;
    border-radius: 10px;
    position: relative;
    width: 100%;
    transition: .3s;
    background-color: $bgc-L-l-70p;
    border-color: transparent;
    color: #fff;
    filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.25));
}

.btn-member-sent:hover {
    background-color: $bgc-L-l-70p;
    filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.25));
}

.btn-member-sent:active {
    background-color: $bgc-L-l-70p;
    content: none;
}

.member-link {
    font-family: $ff-t, $ff-h;
    color: $secondary;
    font-size: $fz-body;
    border-color: $secondary;
    text-decoration: none;
    transition: .4s;
}

.member-link:hover {
    font-family: $ff-t, $ff-h;
    color: $primary;
    font-size: $fz-body;
    text-decoration: none
}

.member-link-2 {
    font-family: $ff-t, $ff-h;
    color: #fff;
    font-size: $fz-body;
    text-decoration: none;
    transition: .4s;
}

.member-link-2:hover {
    font-family: $ff-t, $ff-h;
    color: #fff;
    font-size: $fz-body;
    text-decoration: none;
}

// .breadcrumb {
//     $breadcrumb-divider: none;
// }

// .breadcrumb-item-link {
//     border-radius: 15px;
//     padding: 3px 10px;
//     line-height: 30px;
//     text-decoration: none;
//     font-family: $ff-t, $ff-h;
//     color: $secondary;
//     background-color: $highlight
// }

// .breadcrumb-item-link:hover {
//     border-radius: 15px;
//     padding: 3px 10px;
//     line-height: 30px;
//     text-decoration: none;
//     font-family: $ff-t, $ff-h;
//     color: #fff;
//     background-color: $accent-blue
// }

// .fa-solid {
//     font-size: 30px;
//     text-align: center;
//     color: $secondary
// }

// input[type=text], input[type=email], input[type=password], [type=date] {
//     font: 400 16px var(--text-font), Arial, sans-serif;
//     color: $bgc-D;
//     border-radius: 10px;
// }

// input[type=text]::placeholder, input[type=email]::placeholder, input[type=password]::placeholder, [type=date]::placeholder{
//     color:#BDBDBD;
// }

// input[type=text].error, input[type=email].error, input[type=password].error {
//     outline: var(--alert-l) 2px solid;
// }

.input-2[type=text] {
    font: 400 16px var(--text-font), Arial, sans-serif;
    color: #3C3B6775;
    border-radius: 10px;
}

// .form-control.is-invalid, .was-validated .form-control:invalid, .form-control.is-invalid:focus, .was-validated:focus .form-control:invalid:focus {
//     color: $alert;
//     outline: $alert 2px solid;
// }

.memberBgCard {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 30px;
    backdrop-filter: blur(3px);
    // outline: rgba(255, 255, 255, 0.5) 0.5px solid;
    // box-shadow: -7px -10px 7px -10px rgba(255, 255, 255, 0.3);
}

