.ab-bg-sec{
    background-color: rgba(0, 0, 0, 0.2);
    // padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    height: 680px;
}
.ab-box-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 50px 0px 50px;
    position: relative;

}

.ab-box{
    margin: 0px 30px 40px 30px;
    position: relative;

}

// .ab-box:hover .ab-g-jump{
//     opacity: 1;
//     transition: .5s;
// }
.ab-g-1{
    width: 23px;
    position: absolute;
    top: 2px;
    right: 3px;
    transform: rotate(43deg);

}
.ab-g-2{
    width: 18px;
    position: absolute;
    top: 25px;
    right: -7px;
    transform: rotate(60deg);

}
.ab-g-3{
    width: 18px;
    position: absolute;
    top: -15px;
    right: 27px;
    transform: rotate(35deg);
    z-index: 99;

}
.ab-box:hover .ab-g-3{
    opacity: 1;
    animation: fall 1s ease ;
    animation-fill-mode: forwards;

    
}
@keyframes fall {
    0%{top: -15px;right: 27px;opacity: 1;};
    80%{opacity: 0;};
    100%{top: 300px;right: 20px;rotate: 600deg;opacity: 0;};
    
}
.ab-pic{
    height: 180px;
    width: 180px;
    background-color: #ffffff;
    border-radius: 100px 100px 0 0;
    border-top: 5px solid white;
    border-left: 5px solid white;
    border-right: 5px solid white;
    overflow: hidden;
}
.ab-pic img{
    transform: translate(-5px,-2px);
}
.ab-text{
    font-size: 14px;
    padding: 5px;
    overflow-wrap: break-word;
    line-height: 1.3rem;
    height: 110px;
    width: 180px;
    background-color: #ffffff;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;

}
.ab-name{
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 2.2rem;
    height: 40px;
    width: 140px;
    background-color: #9587E1;
    // border: 3px solid white;
    border-radius: 25px;
    margin: auto;
    position: absolute;
    right: 20px;
    bottom: -25px;
}
@media (min-width: 375px) and (max-width: 800px) {
    .ab-bg-sec{
        height: 30%;
    }
  }