/* 引入自定義變數 */
@import '../../../../styles/variables.scss';

.cpl-tag-item {
    display: inline-block;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    background-color: $primary-50p;

    + .cpl-tag-item {
        margin-left: 10px;
    }
}