.place-container {
    .time-news-row {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        flex-shrink: 0;
        flex-grow: 0;

        p {
            margin: 0;
            line-height: 16px;
            word-spacing: 5px;
            font-weight: 400;
            letter-spacing: 1.5px;
        }
    }

    .dark-bg-50 {
        height: 40px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 16px;
        padding: 12px 20px;
    }

    .tn-title {
        flex-shrink: 0;
        color: #fff;
        font-weight: normal;
    }

    .time-wrap {
        width: 33%;
        display: flex;
    }

    .news-wrap {
        width: 67%;
        display: flex;

        > .news {
            width: 100%;
            text-overflow: clip;
            overflow: hidden;
        }
    }

    .tn {
        color: #f0f8a6;
    }

    /* 我的收藏按鈕 */

    .place-btn {
        padding: 8px 15px;
        border-radius: 15px;
        border: none;
        font-weight: bold;
        font-size: 16px;
        display: flex;
        align-items: center;
    }

    .likedPageBtn {
        background-color: #f3f59f;
        color: #505050;
        font-size: 16px;
        font-family: 'M PLUS Rounded 1c' sans-serif;
        border-radius: 10px;
        transition: 0.3s;

        &:hover {
            cursor: pointer;
            background-color: #b7dfd3;
        }
    }

    /* 篩選區 */

    .filter-row {
        display: flex;
        margin: 10px 0;
        justify-content: space-between;
        flex-shrink: 0;
        flex-grow: 0;
    }

    .filter-search {
        display: flex;
        gap: 5px;
    }

    .filter-wrap {
        height: 40px;
    }

    .place-filter {
        display: flex;
        height: 100%;
        width: 250px;
    }

    /* Custom Select wrapper */
    .my-place-select {
        position: relative;
        display: flex;
        width: 50%;
        height: 100%;
        border-radius: 0.25em;
        overflow: hidden;

        select {
            /* Reset Select */
            appearance: none;
            outline: 0;
            box-shadow: none;
            /* Personalize */
            flex: 1;
            padding: 0 15px;
            margin: 2px;
            color: #2c3e50;
            font-size: 14px;
            font-weight: bold;
            background-color: rgba(197, 190, 235, 0.5);
            border-radius: 10px;
            border: 2px solid rgba(0, 0, 0, 0.4);
            background-image: none;
            cursor: pointer;

            option {
                /* Reset Select */
                appearance: none;
                outline: 0;
                box-shadow: none;
                /* Personalize */
                background-color: rgba(197, 190, 235, 0.5);
                border-radius: 10px;
                border: 2px solid rgba(0, 0, 0, 0.4);
            }
        }

        /* Remove IE arrow */
        select::-ms-expand {
            display: none;
        }

        /* Arrow */
        &::after {
            content: '\25BC';
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translate(0, -54%);
            // background-color: #34495e;
            transition: 0.25s all ease;
            pointer-events: none;
            font-size: 10px;
            color: #2c3e50;
        }
        /* Transition */
        &:hover::after {
            color: #f3f59f;
        }
    }

    // 時間區段篩選
    .time-filter {
        height: 100%;
        // width: 200px;
        cursor: pointer;

        .react-daterange-picker {
            display: inline-flex;
            position: relative;
            width: 100%;
            height: 100%;
        }
        .react-daterange-picker,
        .react-daterange-picker *,
        .react-daterange-picker *:before,
        .react-daterange-picker *:after {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        .react-daterange-picker--disabled {
            background-color: #f0f0f0;
            color: #6d6d6d;
        }
        .react-daterange-picker__wrapper {
            display: flex;
            flex-grow: 1;
            flex-shrink: 0;
            align-items: center;
            margin: 2px;
            color: #2c3e50;
            font-size: 14px;
            font-weight: bold;
            background-color: rgba(197, 190, 235, 0.5);
            border-radius: 10px;
            border: 2px solid rgba(0, 0, 0, 0.4);
            width: 100%;
            height: 36px;
        }

        .react-daterange-picker__inputGroup {
            // min-width: calc((4px * 3) + 0.54em * 8 + 0.217em * 2);
            height: 100%;
            flex-grow: 1;
            padding: 0 2px;
            box-sizing: content-box;
        }
        .react-daterange-picker__inputGroup__divider {
            padding: 1px 0;
            white-space: pre;
        }
        .react-daterange-picker__inputGroup__input {
            height: 100%;
            position: relative;
            padding: 0 10px;
            border: 0;
            background: none;
            font: inherit;
            box-sizing: content-box;
            -moz-appearance: textfield;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            &:invalid {
                background: rgba(255, 0, 0, 0.1);
            }

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            &:invalid {
                background: rgba(255, 0, 0, 0.1);
            }
        }

        .react-daterange-picker__inputGroup__year {
            width: 38px !important;
        }

        .react-daterange-picker__inputGroup__input--hasLeadingZero {
            margin-left: -0.54em;
            padding-left: calc(1px + 0.54em);
        }
        .react-daterange-picker__button {
            border: 0;
            background: transparent;
            padding: 4px 6px;

            &:enabled {
                cursor: pointer;
            }
            &:enabled:hover .react-daterange-picker__button__icon,
            &:enabled:focus .react-daterange-picker__button__icon {
                stroke: #0078d7;
            }
            &:disabled .react-daterange-picker__button__icon {
                stroke: #6d6d6d;
            }
        }

        .react-daterange-picker__button svg {
            display: inherit;
        }
        .react-daterange-picker__calendar {
            width: 350px;
            max-width: 100vw;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1;
        }
        .react-daterange-picker__calendar--closed {
            display: none;
        }
        .react-daterange-picker__calendar .react-calendar {
            border-width: thin;
        }
    }

    /* 列表區 */
    .place-list-wrap {
        width: 100%;
        border-radius: 16px;
        background-color: rgba(0, 0, 0, 0.3);
        flex-grow: 1;
        flex-shrink: 0;
        margin: 0px 0 20px;
        padding: 10px 20px 15px;
        display: flex;
        flex-direction: column;
        max-height: 55vh;
        height: 55vh;
        position: relative;
    }

    .cm-nodata-title {
        color: #fff;
        text-align: center;
        margin: 100px;
        font-size: 20px;
        font-weight: normal;
    }

    /* custom scroll bar */

    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.3);
    }

    ::-webkit-scrollbar-thumb {
        background-color: #fff;
        border-radius: 10px;

        /* border: 3px solid #ffffff; */
    }

    .sort-row {
        display: flex;
        gap: 5px;
        margin: 5px;
        color: #ddd;
        flex-shrink: 0;
        font-size: 14px;
        font-weight: normal;
    }

    .place-list {
        padding: 5px 10px 5px 0;
        overflow-y: scroll;
        overflow-x: hidden;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .list-card {
        height: 68px;
        background-color: #fff;
        border-radius: 16px;
        margin-top: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 30px;
        overflow: hidden;
        transition: 0.5s;
        cursor: pointer;

        &:hover {
            /* box-shadow: 0 2px 5px rgba(228, 228, 228, 0.1); */
            transform: translate(0, -1.5px);
        }

        > .title {
            padding: 0 20px;
            letter-spacing: 2px;
            font-size: 22px;
            display: flex;
            align-items: center;
            width: 48%;
        }

        .yeartitle {
            margin-right: 40px;
        }

        .cityitle {
            margin-right: 35px;
        }

        .price-wrap {
            display: flex;
            align-items: center;
        }

        .price {
            padding: 5px 16px;
            border-radius: 50px;
            background-color: #81a8e0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;
            margin-left: 2px;
        }

        .soul-icon {
            fill: #fff;
            width: 30px;
        }

        .price > span {
            font-family: 'Noto Sans TC', Arial, sans-serif;
            font-size: 22px;
            letter-spacing: 2px;
            color: #fff;
        }

        @media (max-width: 375px) {
            .list-card {
                width: 100%;
            }
        }
    }

    .map-icon-list {
        margin-left: 25px;
        fill: #db8db3;
    }

    .remain-quant {
        padding: 8px 20px;
        background-color: #edeff7;
        border-radius: 50px;
    }

    .place-btns-wrap {
        width: 130px;
        height: 100%;
        display: flex;
    }

    .place-likeBtn {
        background-color: #ce59e7;
        display: flex;
        justify-content: center;
        align-items: center;

        /* margin-left: 10px; */
        transform: translateX(2px);
        height: 100%;
        width: 50%;
    }

    .place-cartBtn {
        background-color: #ce59e7;
        display: flex;
        justify-content: center;
        align-items: center;

        /* margin-left: 10px; */
        transform: translateX(2px);
        height: 100%;
        width: 50%;
        background-color: #6247f4;
    }

    .place-like-icon,
    .place-cart-icon {
        color: #fff;
        transition: 0.5s;
        font-size: 22px;
    }

    .place-likeBtn:hover .place-like-icon,
    .place-cartBtn:hover .place-cart-icon {
        color: #f3f59f;
        filter: drop-shadow(1px 0 4px #f3f59f);
        cursor: pointer;
    }

    /* hover提示 */

    .hover-text {
        position: relative;

        &::before {
            content: attr(data-hover);
            opacity: 0;
            width: max-content;
            background-color: rgba(0, 0, 0, 0.6);
            color: #fff;
            text-align: center;
            border-radius: 5px;
            padding: 5px 0;
            transition: 0.3s;
            position: absolute;
            z-index: 5;
            left: 0;
            top: 110%;
        }
    }

    /* .hover-text:hover::before {
      opacity: 1;
  } */

    /* 地圖檢視 */

    .foot-view-map {
        position: absolute;
        bottom: -22px;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
        border-radius: 15px;
        z-index: 99;
        width: fit-content;
    }

    .viewMapBtn {
        background-color: #b9ded2;
        // box-shadow: 2px 2px 2px #aaa;
        gap: 5px;
        transition: 0.7s;
        z-index: 99;
        height: 100%;
        padding: 12px 15px;
    }

    .viewMapBtn-layer {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: -100%;
        background-color: #fa49b6;
        transition: 0.5s;
        z-index: -1;
    }

    .map-icon-view {
        fill: #222;
        transition: 0.7s;
    }

    .foot-view-map:hover {
        .viewMapBtn-layer {
            left: 0;
        }

        .map-icon-view {
            fill: #fff;
        }

        .viewMapBtn {
            color: #fff;
            background-color: rgba(255, 255, 255, 0);
        }
    }
}
