$widthMax: 768px;

.reborn-cart-container {
    .select-row {
        width: 100%;
        height: 50vh;
        max-height: 50vh;
        border-radius: 16px;
        background: #0000004d;
        margin-top: 15px;
        display: flex;
        padding: 25px 0 10px;

        @media screen and (max-width: $widthMax) {
            flex-direction: column;
            height: 70vh;
            max-height: 70vh;
        }

        .reborn-cart-main-title {
            font-size: 22px;
            margin: 0;
            margin-bottom: 10px;
        }
    }

    .select-ava,
    .select-place {
        text-align: center;
        color: #fff;
        letter-spacing: 3px;
        padding: 0 20px;
        width: 50%;
        height: 100%;
    }

    .select-ava {
        border-right: 1px solid #fff;
    }

    @media screen and (max-width: $widthMax) {
        .select-ava {
            width: 100%;
            height: 55%;
        }

        .select-place {
            width: 100%;
            height: 45%;
        }
        .select-ava {
            border-right: none;
            border-bottom: 1px solid #fff;
            margin-bottom: 15px;
        }
        .ava-img {
            margin-bottom: 20px;
        }
    }

    .ava-wrap {
        padding: 15px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90%;
    }

    .caret-wrap {
        padding: 0 5px;
        text-align: center;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .caret-icon {
        font-size: 35px;
    }

    .ava-img {
        width: 45%;
    }

    .price {
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .ava-option .price {
        background-color: rgba(255, 255, 255, 1);
        padding: 5px 14px;
        width: 130px;
        margin: 20px auto 0;
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: #fff !important;
        filter: drop-shadow(1px 1px 2px #3c3b67b3);
    }

    .soul-icon {
        fill: #81a8e0;
        width: 30px;
    }

    .price > span {
        font-family: 'Noto Sans TC', Arial, sans-serif;
        font-size: 24px;
        letter-spacing: 2px;
        line-height: 0px;
        color: #81a8e0;
    }

    /* 良辰吉地 */

    .place-wrap {
        padding: 20px 25px;
        height: 90%;
        width: 100%;
    }

    @media screen and (max-width: $widthMax) {
        .place-wrap {
            padding: 20px 0;
            width: 90vw;

            // 改成可以scroll
            .place-options-box {
                width: 95%;
                height: 190px;
                padding-right: 15px;
                overflow-y: scroll;
                overflow-x: hidden;
            }
        }
    }

    .place-options-box {
        width: 100%;
    }

    .place-option-flex {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        height: 50px;
    }

    .place-options-box.while-no-options {
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        width: 36%;

        h4,
        .reborn-link {
            font-size: 18px;
            line-height: 22px;
            font-weight: normal;
            color: #f3f59f;
            // color: #ff52ba;
            // background-color: #f0f8a6;
            padding: 0 5px;
            margin-bottom: 5px;
            border-radius: 2px;
        }

        span {
            text-decoration: underline;
            transition: 0.3s;

            &:hover {
                color: #e97bee;
                cursor: pointer;
            }
        }
    }

    .place-radio {
        display: none;
    }

    .to-liked-page-add-btn {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 6px 15px;
        border-radius: 20px;
        position: relative;
        width: 100%;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.4);
        font-size: 30px;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.4);
        transition: 0.3s;
        width: 93%;
        margin-bottom: 10px;

        &:hover {
            color: rgba(255, 255, 255, 1);
            cursor: pointer;
        }
    }

    .add-btn-fill {
        opacity: 0;
    }

    .to-liked-page-add-btn:hover .add-btn-fill,
    .add-btn-normal {
        opacity: 1;
    }

    .to-liked-page-add-btn:hover .add-btn-normal {
        opacity: 0;
    }

    .add-btn-icon-wrap {
        position: relative;
    }

    .add-btn-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s;
    }

    @media screen and (max-width: $widthMax) {
        .place-wrap {
            .place-option {
                padding: 6px 10px;
                .place-option-title {
                    font-size: 14px;
                }

                .price {
                    span {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .place-option {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 6px 15px;
        border-radius: 20px;
        position: relative;
        height: 48px;
        background-color: rgba(255, 255, 255, 1);
        width: 95%;

        &:hover,
        &.selected {
            background-color: #f0f8a6;
            cursor: pointer;
        }

        .place-option-title {
            font-size: 18px;
            color: #3c3b67;
            margin-bottom: 0;
            font-weight: 500;
        }

        .price {
            background-color: none;
        }
    }

    .place-option-del-btn {
        color: rgba(255, 255, 255, 0.6);
        font-size: 38px;
        position: relative;
        right: -5px;
        transition: 0.3s;

        &:hover {
            color: #e97bee;
            cursor: pointer;
        }
    }

    /* reborn-order-wrap 下方轉生訂單區塊 */
    .reborn-order-wrap {
        width: 100%;
        height: 22vh;
        min-height: 20vh;
        border-radius: 16px;
        background-color: #3c3b67b3;
        margin: 10px 0;
        display: flex;
        justify-content: space-around;
        padding: 15px;
    }

    .rwdBtn {
        display: none;
    }

    @media screen and (max-width: $widthMax) {
        ::-webkit-scrollbar {
            width: 5px;
        }

        ::-webkit-scrollbar-track {
            background: rgba(255, 255, 255, 0.3);
        }

        ::-webkit-scrollbar-thumb {
            background-color: #fff;
            border-radius: 10px;

            /* border: 3px solid #ffffff; */
        }

        .reborn-order-wrap {
            max-width: 90%;
            flex-direction: column;
            position: fixed;
            z-index: 9;
            bottom: -350px;
            left: 5%;
            height: 400px;
            background-color: rgba(255, 255, 255, 1);
            border: 2px solid #f3f59f;
            padding: 0;
            padding-bottom: 25px;
            animation: boxShowFromBottom;

            .reborn-order-card {
                flex-direction: column;
                width: 100%;
                color: #3c3b67;

                .reborn-order-card-title {
                    padding: 10px;
                    width: 100%;
                    text-align: center;
                    writing-mode: horizontal-tb;
                    font-size: 16px;
                    height: 45px;
                    margin-bottom: 120px;
                }

                .reborn-order-card-title:hover {
                    cursor: pointer;
                    .rwdBtn {
                        top: -25px;
                        opacity: 1;
                    }
                }
                .reborn-order-card-ava,
                .reborn-order-card-place {
                    display: none;
                }

                .reborn-order-card-summary {
                    width: 80%;
                    tfoot {
                        td {
                            border-top: 1px solid #3c3b67;
                        }
                    }
                }
                button.reborn-order-card-btn {
                    width: 90%;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    p {
                        writing-mode: horizontal-tb;
                        line-height: 20px;
                    }
                }
            }

            .my-deed-wrap,
            .deed-enough-wrap {
                position: absolute;
                top: 65px;
                width: 40%;
                font-size: 14px;
                height: 100px;
            }
            .my-deed-wrap {
                left: 8%;
            }
            .deed-enough-wrap {
                right: 8%;
            }
            .my-deed-wrap-text,
            .deed-enough-wrap-text {
                font-size: 20px;
            }

            // 開合按鈕
            .rwdBtn {
                display: block;
                width: 40px;
                height: 40px;
                background-color: #f3f59f;
                border-radius: 10px;
                position: absolute;
                top: 20px;
                left: 50%;
                transform: translate(-50%);
                opacity: 0;
                transition: 0.3s;
                z-index: -1;
                color: #3c3b67;
                font-size: 20px;
            }
        }
        .box-show-ani {
            animation: boxShowFromBottom 3s linear forwards;
        }
        .animate-reverse {
            animation-direction: reverse;
        }

        @keyframes boxShowFromBottom {
            from {
                bottom: -350px;
            }
            to {
                bottom: -25px;
            }
        }
    }

    .my-deed-wrap {
        border-radius: 16px;
        border: 1px solid #b9ded2;
        background-color: #ffffff1a;
        width: 15%;
        overflow: hidden;
        color: #3c3b67;
    }

    .my-deed-wrap-title {
        background-color: #b9ded2;
        text-align: center;
        padding: 15px 0;
        font-weight: 500;
    }

    .my-deed-wrap-text {
        color: #5fac93;
        text-align: center;
        font-size: 35px;
        font-weight: bold;
        transform: translate(0, 60%);
    }

    .deed-enough-wrap {
        border-radius: 16px;
        border: 1px solid #eebcdd;
        background-color: rgba(255, 255, 255, 0.1);
        width: 15%;
        overflow: hidden;
        color: #3c3b67;
    }

    .deed-enough-wrap-title {
        background-color: #eebcdd;
        text-align: center;
        padding: 15px 0;
        font-weight: 500;
    }

    .deed-enough-wrap-text {
        color: #ff52ba;
        text-align: center;
        font-size: 35px;
        font-weight: bold;
        transform: translate(0, 60%);
    }

    .reborn-order-card {
        width: 65%;
        border-radius: 16px;
        border: 1px solid #f3f59f;
        background-color: rgba(255, 255, 255, 0.1);
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        text-align: center;
        height: 100%;
    }

    .reborn-order-card-title {
        writing-mode: vertical-rl;
        padding: 0 15px;
        background-color: #f3f59f;
        font: 600 20px 'M PLUS Rounded 1c', sans-serif;
        color: #3c3b67;
        letter-spacing: 6px;
        height: 100%;
    }

    .reborn-order-card-ava {
        height: 100%;

        > img {
            height: 100px;
            position: relative;
            top: 50%;
            transform: translate(0, -50%);
        }
    }

    .reborn-order-card-place > h4 {
        font-size: 20px;
        font-weight: normal;
        margin: 0;
        line-height: 32px;
        letter-spacing: 2px;
    }

    .reborn-order-card-summary {
        width: 26%;

        table {
            width: 100%;
            font-size: 16px;
            line-height: 26px;

            td {
                border-collapse: collapse;
                font-weight: 500;
            }
        }

        tr td {
            &:nth-child(1) {
                text-align: left;
            }

            &:nth-child(2) {
                text-align: right;
            }
        }

        tfoot {
            border-top: 1px solid;
            border-color: #fff;
        }
    }

    .reborn-order-total-price {
        font-size: 32px;

        color: #ce59e7;
        padding: 6px 0;

        > .soul-icon {
            margin-right: 5px;
            padding-top: 10px;
        }
        > span {
            vertical-align: bottom;
            margin-top: 5px;
            font-weight: bold;
        }
    }

    .totalTD {
        vertical-align: bottom;
    }

    button.reborn-order-card-btn {
        border: none;
        background-color: #f3f59f;
        padding: 15px 10px;
        margin-right: 8px;
        height: 90%;
        border-radius: 12px;
        transition: 0.3s;
        width: fit-content;
        display: block;

        > p {
            writing-mode: vertical-lr;
            font: 600 20px 'M PLUS Rounded 1c', Arial, sans-serif;
            color: #6247f4;
            letter-spacing: 1.5px;
            margin: 0;
            transform: translate(-2px, 0);
        }

        .exclamation-mark {
            font-size: 26px;
            color: #6247f4;
            transform: translate(-1px, 0);
        }

        &:hover {
            cursor: pointer;
            transform: translate(-2px, -2px);
        }
    }
}
