@import '../../../styles/variables.scss';

.otherStars{
    position: absolute;
    width: 100vw;
    height: 100vh;
}  
.otherStar{
    position: relative;
  
    
    animation: star-sparkle ease-in infinite alternate-reverse;
}
.otherStar:nth-child(1){
    
    width: 10px;
    height: 10px;
    background: url(../introImg/otherStar/otherStar1.svg)center center no-repeat;
    background-size: contain;
    top: 10%;
    left: 60%;
    animation-duration: 3s;
}
.otherStar:nth-child(2){
    
    width: 10px;
    height: 10px;
    background: url(../introImg/otherStar/otherStar1.svg)center center no-repeat;
    background-size: contain;
    animation-duration: 4s;
    top: 60%;
    left: 23%;
}
.otherStar:nth-child(3){ 
    
    width: 20px;
    height: 20px;
    background: url(../introImg/otherStar/otherStar2.svg)center center no-repeat;
    background-size: contain;
    animation-duration: 1s;
    top: 40%;
    left: 90%;}
.otherStar:nth-child(4){
    
    width: 20px;
    height: 20px;
    background: url(../introImg/otherStar/otherStar3.svg)center center no-repeat;
    background-size: contain;
    animation-duration: 5s;
    top: 20%;
    left: 10%;
}
.otherStar:nth-child(5){
    
    width: 14px;
    height: 14px;
    background: url(../introImg/otherStar/otherStar4.svg)center center no-repeat;
    top: 10%;
    left: 30%;
    background-size: contain;
    animation-duration: 3s;

}
.otherStar:nth-child(6){
    
    width: 20px;
    height: 20px;
    background: url(../introImg/otherStar/otherStar5.svg)center center no-repeat;
    top: 55%;
    left: 70%;
    background-size: contain;
    animation-duration: 1.5s;

}
.otherStar:nth-child(7){
    
    width: 10px;
    height: 10px;
    background: url(../introImg/otherStar/otherStar3.svg)center center no-repeat;
    top: 75%;
    left: 80%;
    background-size: contain;
    animation-duration: 2.5s;
}