/* 引入自定義變數 */
@import '../../styles/variables.scss';


body {
position: relative;
}

.xuan-parent{
  // outline: 1px solid blue;
  width:100%;
  height: 100vh;
  overflow-x: hidden; 
  overflow-y: hidden;
  float:left;
  position: fixed;
  top: 0px;
  left: 0px;
}

.xuan-child{
  // outline: 1px solid red;
  // background-color:rgb(255, 210, 75);
  width:130%;
  // width:200%; 原本的寬度
  height: 150%;
  //height:300%; 原本的高度
  float:left;
  font-size:15px;
  font-family:arial;
  padding:10px;
  // position: relative;
  position: absolute;
  top:0%;
  left: 0%;
}

.xuan-mainpage-nav{
  /* 禁止元素被反藍選取 */
  user-select: none; 
  /* 禁止元素被拖拉 */
  -webkit-user-drag: none;
  // z-index: 5000;
  // z-index: 200000 !important;

  // img{
  //       z-index: 200000!important;
  //     }
}

.xuan-mainpage-nav:hover{
  cursor: pointer;
}


// ------- fixed按鈕 Part -------------------

/* 按了回中心點 */
.xuan-btn-center{
    user-select: none; 
    -webkit-user-drag: none;
    width: 70px;
    height: 70px;
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 1000;
    cursor: pointer;
    // background-color: black;
    /* 禁止元素被反藍選取 */
    user-select: none; 
    /* 禁止元素被拖拉 */
    -webkit-user-drag: none;
    color: white;

    >img{
      width: 80%;
    }
    >span{
      margin-top:10px;
    }
} 

.xuan_mainpage_nav{
  position: fixed;
  right:0px;
  top:0px;
  width: 20%;
  min-width: 120px;
  /* 禁止元素被反藍選取 */
  user-select: none; 
  /* 禁止元素被拖拉 */
  -webkit-user-drag: none;
}


// @media screen and (min-width: 992px) {
  .xuan-mainpage-nav{
    position: fixed;
    right: 0px;
    top: 0px;
    width: 12%;
    z-index: 200000 !important;

      >img{
        width: 100%;
        z-index: 200000 !important;
      }
  }
// }

// 手機版(768)----------------------------------

/* 中心位置 */
.xuan-child-center{
    border-radius: 20px;
    width: 330px;
    height: 320px;

    background-color: #9587E1;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-48%, -47%);
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: center;

    >img{
      width: 80%;
      height: 80%;
    }
}


// 背景素材圖
.xuan-mainpage-bg{
  position:absolute;
  // outline: 1px solid red;
  top: 50%;
  left: 50%;
  width: 180vw;
  // height: 100vh;
  transform: translate(-50%, -50%);
    /* 禁止元素被反藍選取 */
    user-select: none; 
    /* 禁止元素被拖拉 */
    -webkit-user-drag: none;
}


// 轉生形象box
.xuan-box-avatar{
  width: 14%;
  height:12%;
  position:absolute;
  top: 57%;
  left: 26%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: #E384F2;
  z-index: 300;
  color: white;

      >div:nth-child(3){
        // background-color: white;
        width: 85%;
        height: 65%;
        border-radius: 10px;
        margin: auto;
        margin-top: 10px;
      }

      >p:nth-child(1){
        width: 100%;
        margin-top: 10px;
        text-align: center;
        font-size: $fz-h4;
        font-family: $ff-t, $ff-h;
        font-weight: 500;
        margin: 15px auto;
      }

      >div:nth-child(2){
        width: 100%;
        text-align: center;
                  
            >img{
              width: 40%;
              margin: auto;
            }

      }

}







// 一般版面(桌機版)-----------------------------
// @media screen and (min-width: 1900px) {
  
  .xuan-child-center{
    width: 20%;
    height: 32%;
    transform: translate(-52%, -46%);

      >img{
        width: 80%;
        height: 80%;
      }
    }

  // 背景裝飾(中心)
  .xuan-mainpage-bg{
    width: 100vw;
    transform: translate(-50%, -50%);
      >img{
        width: 100%;
        height: 100%;
      }
  }

  // 背景裝飾上半部-----------------
  // 背景裝飾(左上方)
  .xuan-mainpage-bg-2{
    // outline: 1px solid red;
    width: 100%;
    // margin-left: 50px;
  //   transform: translate(-50%, -100%);
      >img{
        width: 100%;
        height: 100%;
        // outline: 1px solid white;
      }
  }
  // 背景裝飾(右上方)
  .xuan-mainpage-bg-3{
    // outline: 1px solid red;
    width: 100%;
    // margin-left: 90vw;
      >img{
        width: 100%;
        height: 100%;
        // outline: 1px solid white;
      }
  }

  .bg-d-flex{
    display: flex;
  }


  // 背景裝飾下半部-----------------

  // 背景裝飾(左下方)
  .xuan-mainpage-bg-bottomleft{
    // outline: 1px solid red;
    width: 100%;
      >img{
        width: 100%;
        height: 100%;
        // outline: 1px solid white;
      }
  }
  // 背景裝飾(右下方)
  .xuan-mainpage-bg-bottomright{
    // outline: 1px solid red;
    width: 100%;
      >img{
        width: 100%;
        height: 100%;
        // outline: 1px solid white;
      }
  }

  .bg-bottom-d-flex{
    display: flex;
    margin-top: 100vh;
  }





  
  // 轉生形象box
  .xuan-box-avatar{
    border-radius: 20px;
    width: 15%;
    height: 32%;
    background-color: #E384F2;
    position:absolute;
    top: 70%;
    left: 31%;
    transform: translate(-50%, -50%);
    z-index: 300;
    color: white;

      >.d-flex {

        margin-top: 10px;
        margin-bottom: 15px;
        align-items: center;
        justify-content: center;


        p:nth-child(1){
          width: 70%;
          // margin-top: 10px;
          text-align: center;
          font-size: $fz-h4;
          font-family: $ff-t, $ff-h;
          font-weight: 500;
          line-height: 50px;
          // outline: 1px solid red;
        }

        .link-arrow{
          margin-top: 10px;
          width: 35px;
          // outline: 1px solid red;
        }


      }
      
    

  

      >div:nth-child(2){
        width: 100%;
        text-align: center;
        // outline: 1px solid red;
        margin-bottom: 20px;
                  
            >img{
              width: 40%;
              margin: auto;
            }

      }


      >div:nth-child(3){
        // background-color: #3C3B67;
        // background-color: rgba(255, 255, 255, 0.567);
        width: 85%;
        height: 65%;
        border-radius: 10px;
        margin: auto;
        margin-top: 10px;
        display: flex;
        align-items:center ;
        justify-content:center ;

              img{
                width: 100%;
              }

      }

  }

  // 會員中心box
  .xuan-box-member{
    border-radius: 20px;
    width: 13%;
    height: 28%;
    background-color: #81A8E0;
    position:absolute;
    top: 90%;
    left: 46%;
    transform: translate(-50%, -50%);
    color: white;


        >div:nth-child(1){

            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 25px;
            margin-bottom: 30px;

            >img{
              width: 10%;
              // outline: 1px solid red;
            }


            >p{
              width: 50%;
              text-align: center;
              font-size: $fz-h4;
              font-family: $ff-t, $ff-h;
              font-weight: 500;
            }

            .link-arrow{
              width: 35px;
              margin-top: 6px;
              margin-left: 10px;
            }
        }


        >div:nth-child(2){
          // background-color: #3c3b6799;
          border-radius: 10px;
          width: 100%;
          height: 65%;
          margin: auto;
          margin-top: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

            img{
              width: 100%;
            }
        }

    }


  // 會員中心旁邊訊息框XD
  .xuan-member-list{
    width: 10%;
    height: 30%;
    // outline: 1px solid red;
    // background-color: #81A8E0;
    position:absolute;
    top: 90%;
    left: 56.5%;
    transform: translate(-50%, -50%);
    // color: white;
    display: flex;
    align-items: center;
    justify-content: center;

        img{
          width: 60%;
        }
  }

  
  // 投胎去！
  .xuan-go-future{
    // outline: 1px solid red;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #9587E1;
    position:absolute;
    top: 34%;
    left: 64%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;

    >img{
      width: 90%;
      // outline: 1px solid red;
    }

    img:hover{
      transform: translateY(-5px);
      transition: .2s linear;
    }
  }

  .xuan-go-future:hover{
    cursor: pointer;
  }

  .xuan-go-future.isDisabled {
    filter: grayscale(1) brightness(1.42);
    pointer-events: none;
    // background-color: #ccccff;
  }

  // 良辰吉地
  .xuan-time{
    width: 25%;
    height: 12%;
    background-color: #9587E1;
    border-radius: 20px;
    position:absolute;
    top: 74%;
    left: 74%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;


      >div:nth-child(1){
        width: 35%;
        text-align: center;


          .d-flex{

            align-items: center;
            justify-content: center;
            margin-bottom: 15px;

            p{
              // width: 70%;
              text-align: center;
              font-size: $fz-h4;
              font-family: $ff-t, $ff-h;
              font-weight: 500;
              margin-right: 10px;
            }

            .link-arrow{
              width: 25px;
              margin-top: 3px;
            }

          }
        
       

        img{
          width: 65%;
        }
      }

      >div:nth-child(2){
        width: 60%;

        >img{
          width: 95%;
          margin: auto;
        }
      }
  }

  // 功德撲滿
  .xuan-box-event{
    background-color: #81A8E0;
    border-radius: 20px;
    width: 13%;
    height: 29%;
    position:absolute;
    top: 60%;
    left: 15.5%;
    transform: translate(-50%, -50%);
    z-index: 300;
    color: white;


    .d-flex{

      align-items: center;
      justify-content: center;
      margin-top: 35px;
      margin-bottom: 25px;

      svg{
        width: 30px;
        height: 30px;
        // outline: 1px solid red;
        margin-top: 3px;
      }

      >p:nth-child(2){
        width: 50%;
        text-align: center;
        font-size: $fz-h4;
        font-family: $ff-t, $ff-h;
        font-weight: 500;
        margin-right: 10px;
    }

      .link-arrow{
        width: 30px;
        // outline: 1px solid red;
      }



    }

  
    >div:nth-child(2){
      // background-color: white;
      width: 85%;
      height: 70%;
      margin: auto;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      // outline: 1px solid red;

            img{
              width: 100%;
            }
          
    }

  }

  // 功德撲滿下方LOGO
  .xuan-side-logo{
    // outline: 1px solid red;
    width: 120px;
    height: 120px;
    position:absolute;
    top: 82%;
    left: 19.5%;
    transform: translate(-50%, -50%);
    z-index: 300;
    display: flex;
    align-items: center;
    justify-content: center;

          img{
            width: 100%;
          }
  }

  // 投胎形象小格1
  .xuan-box-avatar-show1{
    background-color: #81A8E0;
    border-radius: 20px;
    width: 15%;
    height: 11%;
    position:absolute;
    top: 24.5%;
    left: 28%;
    transform: translate(-50%, -50%);
    z-index: 300;
    color: white;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    
        // 左側白色圖片
        div:nth-child(1){
          // outline: 1px solid red;
          width: 45%;
          height: 100%;
          border-radius: 10px;
          margin-right: 15px;
          margin-left: 15px;
          
          display: flex;
          align-items: center;
          justify-content: center;

              img{
                width: 90%;
                // height: 100%;
                // outline: 1px solid red;
              }

        }

        // 右側文字DIV
        div:nth-child(2){
          // outline: 1px solid blue;
          padding-top: 15px;
          width: 60%;
          height: 100%;


          .xuan-subtitle{
            margin-bottom: 20px;
          }

          p{
            margin-bottom: 10px;
            letter-spacing: 0.1rem;
          }
        }

        svg{
          // outline: 1px solid red;
          margin-top: 55px;
          margin-right: 10px;
          width: 25px;
          height: 25px;
        }
  }
  // 投胎形象小格2
  .xuan-box-avatar-show2{
    background-color: #E384F2;
    border-radius: 20px;
    width: 15%;
    height: 11%;
    position:absolute;
    top: 37%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 300;
    color: white;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    
        // 左側白色圖片
        div:nth-child(1){
          width: 45%;
          height: 100%;
          // background-color: white;
          border-radius: 10px;
          margin-right: 20px;
          margin-left: 15px;

          display: flex;
          align-items: center;
          justify-content: center;

              img{
                width: 100%;
                margin-top: 15px;
              }
        }

        // 右側文字DIV
        div:nth-child(2){
          padding-top: 15px;
          width: 60%;
          height: 100%;

          .xuan-subtitle{
            margin-bottom: 20px;
          }

          p{
            margin-bottom: 10px;
            letter-spacing: 0.1rem;
          }
        }

        svg{
          // outline: 1px solid red;
          margin-top: 55px;
          margin-right: 10px;
          width: 25px;
          height: 25px;
        }
  }
  // 投胎形象小格3
  .xuan-box-avatar-show3{
    // background-color: #9587E1;
    background-color: #E384F2;
    // background-color: #E384F2;
    border-radius: 20px;
    width: 15%;
    height: 11%;
    position:absolute;
    top: 82%;
    left: 8.5%;
    transform: translate(-50%, -50%);
    z-index: 300;
    color: white;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    
        // 左側白色圖片
        div:nth-child(1){
          width: 45%;
          height: 100%;
          border-radius: 10px;
          margin-right: 20px;
          margin-left: 15px;

          display: flex;
          align-items: center;
          justify-content: center;
          // outline: 1px solid red;
          // padding-top: 5px;

              img{
                width: 100%;
                margin-top: 10px;
              }
        }

        // 右側文字DIV
        div:nth-child(2){
          width: 60%;
          height: 100%;
          padding-top: 15px;

          .xuan-subtitle{
            margin-bottom: 20px;
          }

          p{
            margin-bottom: 10px;
            letter-spacing: 0.1rem;
          }
        }

        svg{
          // outline: 1px solid red;
          margin-top: 55px;
          margin-right: 10px;
          width: 25px;
          height: 25px;
        }

        // FIXME:希望可以hover後填滿愛心！
        // svg:hover{
        //   background-color: red;
        // }
  }

  // 遊戲小格1
  .xuan-box-game-show1{
    background-color: #9587E1;
    border-radius: 20px;
    width: 11%;
    height: 22%;
    position:absolute;
    top: 20%;
    left: 42%;
    transform: translate(-50%, -50%);
    z-index: 300;
    color: white;
    padding: 15px;
    padding-bottom: 30px;

      div:nth-child(1){

          // outline:1px solid red;
          display: flex;
          align-items: center;
          justify-content: flex-end;

          .link-arrow{
            width: 30px;
          }



      }


  
      .d-flex{

        // margin-bottom: 10px;
        margin-top: 20px;
        align-items: center;
        justify-content: center;

        img{
          width: 30px;
          // outline: 1px solid red;
          margin-right: 10px;
        }
        
        p{
          // margin-bottom: 28px;
          // margin-top: 15px;
          letter-spacing: .2rem;
        }
  
      }

      div:nth-child(3){
        width: 100%;
        height: 80%;
        border-radius: 10px;
        // background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        // outline: 1px solid blue;

                  img{
                    width: 100%;
                  }
      }

  

  }

  // 遊戲小格2
  .xuan-box-game-show2{
    background-color: #9587E1;
    border-radius: 20px;
    width: 13%;
    height: 25.3%;
    position:absolute;
    top: 11.5%;
    left: 55.5%;
    transform: translate(-50%, -50%);
    z-index: 300;
    color: white;
    padding: 15px;
    padding-top: 30px;

      p{
        margin-bottom: px;
        letter-spacing: 0.2rem;
        margin-right: 10px;
      }

      .d-flex{

        align-items: center;
        justify-content: center;
        margin-bottom: 10px;

        img{
          width: 30px;
        }
      }

      .xuan-game-img{
        // outline: 1px solid red;
        height: 70%;


            img{
              width: 100%;
              margin-bottom: 10px;

            }
      }

      // div{
      //   width: 100%;
      //   height: 80%;
      //   border-radius: 10px;
      //   background-color: white;
      // }

  }

  .xuan-box-game-show2.isDisabled  {
    filter:grayscale(1) brightness(1.42);
    pointer-events: none;
  }

  // 關於我們
  .xuan-box-aboutus{
    background-color: #E384F2;
    border-radius: 20px;
    width: 22%;
    height: 16%;
    position:absolute;
    top: 58%;
    left: 81%;
    transform: translate(-50%, -50%);
    z-index: 300;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;


      div:nth-child(1){

        height: 200px;
        margin-right: 20px;
        padding-top: 15px;

        *{
          margin-bottom: 15px;
        }

        p{
          letter-spacing: 0.5rem;
          font-size: 2.25rem;
          font-family: "Noto Sans TC", "M PLUS Rounded 1c";
          font-weight: 500;
        }

        p:nth-child(3){
          margin-bottom: 22px;
        }

        .link-arrow{
          width: 25px;
          margin-left: 7px;
        }

      }


      div:nth-child(2){
        width: 70%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;

            img{
              height: 100%;
              // outline: 1px solid blue;
            }
      }
  }

  // 最新消息
  .xuan-box-news{
    background-color: #81A8E0;
    border-radius: 20px;
    width: 24%;
    height: 24%;
    position:absolute;
    top: 36%;
    left: 90%;
    transform: translate(-50%, -50%);
    z-index: 300;
    color: white;
    padding: 20px;


        div:nth-child(1){
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 20px;

            img:nth-child(1){
              margin-right: 10px;
            }

            p{
              font-size: $fz-h3;
              font-family: $ff-t, $ff-h;
              font-weight: 500;
              margin-right: 20px;
            }

            .link-arrow{
              width: 30px;
              margin-top: 5px;
            }
        }

        div:nth-child(2){
          // outline: 1px solid red;
          border-radius: 10px;
          width: 100%;
          height: 76%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 15px;

                img{
                  height: 95%;
                }

        }

    
  }




  // 投放所服務員1
  .xuan-box-waiter-1{
    background-color: white;
    border-radius: 50% 50% 5px 5px;
    width: 6%;
    height: 11%;
    position:absolute;
    top: 17%;
    left: 83%;
    transform: translate(-50%, -50%);
    z-index: 300;
    padding: 20px;
    text-align: center;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

          img{
            height: 95%;
            margin-bottom: 10px;
          }

  }

  
  .xuan-box-waiter-1-word{
    // outline: 1px solid red;
    width: 6%;
    height: 11%;
    position:absolute;
    top: 7%;
    // left: 90%;
    left: 83%;
    transform: translate(-50%, -50%);
    z-index: 300;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .xuan-box-waiter-1-word:hover img{
    transform: translateY(-15px);
    transition: .3s linear;
    cursor: pointer;
  }
  .xuan-box-waiter-2-word:hover img{
    transform: translateY(-15px);
    transition: .3s linear;
    cursor: pointer;
  }
  .xuan-box-waiter-3-word:hover img{
    transform: translateY(-15px);
    transition: .3s linear;
    cursor: pointer;
  }

  // 投放所服務員2
  .xuan-box-waiter-2{
    background-color: white;
    border-radius: 50% 50% 5px 5px;
    width: 6%;
    height: 11%;
    position:absolute;
    top: 17%;
    left: 90%;
    transform: translate(-50%, -50%);
    z-index: 300;
    padding: 20px;
    text-align: center;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

          img{
            height: 95%;
            margin-bottom: 10px;
          }

  }

  .xuan-box-waiter-2-word{
    width: 6%;
    height: 11%;
    position:absolute;
    top: 7%;
    left: 90%;
    // left: 83%;
    transform: translate(-50%, -50%);
    z-index: 300;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  // 投放所服務員3
  .xuan-box-waiter-3{
    background-color: white;
    border-radius: 50% 50% 5px 5px;
    width: 6%;
    height: 11%;
    position:absolute;
    top: 17%;
    left: 97%;
    transform: translate(-50%, -50%);
    z-index: 300;
    padding: 20px;
    text-align: center;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

          img{
            height: 95%;
            margin-bottom: 10px;
          }

  }

  
  .xuan-box-waiter-3-word{
    width: 6%;
    height: 11%;
    position:absolute;
    top: 7%;
    left: 97%;
    // left: 83%;
    transform: translate(-50%, -50%);
    z-index: 300;
    display: flex;
    align-items: center;
    justify-content: center;
  }




.xuan-reborn-step{
  // outline: 1px solid red;
  width: 40%;
  height: 10%;
  position:absolute;
  top: 97%;
  left: 80.5%;
  transform: translate(-50%, -50%);
  z-index: 300;
  margin-bottom: 10px;

    img{
      width: 100%;
    }
}



.xuan-box-share{
  // background-color: #81A8E0;
  background-color: #9587E1;
  border-radius: 20px;
  width: 23%;
  height: 19%;
  position:absolute;
  top: 102%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 300;
  color: white;
  padding: 20px;

    div:nth-child(1){
      width: 78%;
      margin-right: 20px;
      // background-color: rgba(255, 255, 255, 0.404);
      border-radius: 20px;
      // padding: 10px;

        img{
          width: 100%;
          // margin-right: 20px;

        }
    }


       

        div:nth-child(2){
          // outline: 1px solid red;
          padding-top: 15px;

          p{
            width: 90px;
            font-size: 2.25rem;
            font-family: "Noto Sans TC", "M PLUS Rounded 1c";
            font-weight: 500;
            letter-spacing: 0.4rem;
            margin-bottom: 15px;
          }

          p:nth-child(2){
            margin-bottom: 65px;
          }

          img{
            width: 40px;
            // margin-left: 5px;
          }

        }

 
}


// 左下背景素材補圖
.de-left{
  // background-color: #9587E1;
  // outline: 1px solid red;
  // border-radius: 20px;
  width: 9%;
  height: 19%;
  position:absolute;
  top: 98%;
  left: 4%;
  transform: translate(-50%, -50%);
  z-index: 300;
  color: white;
  padding: 20px;

}
// 左下背景素材補圖
.de-left-2{
  width: 9%;
  height: 19%;
  position:absolute;
  top: 100%;
  left: 35%;
  transform: translate(-50%, -50%);
  z-index: 300;
  color: white;
  padding: 20px;

}

.de-left-middle{
  // outline: 1px solid red;
  width: 15%;
  height: 10%;
  position:absolute;
  top: 108.5%;
  left:46%;
  transform: translate(-50%, -50%);
  z-index: 300;
  color: white;
  padding: 20px;
}

.bg_top_left{
  // outline: 1px solid red;
  width: 9%;
  height: 10%;
  position:absolute;
  top: 49%;
  left:4.5%;
  transform: translate(-50%, -50%);
  z-index: 300;
      img{
        width: 95%;
      }
}
.bg_top{
  // outline: 1px solid red;
  // width: 9%;
  // height: 10%;
  position:absolute;
  top: 3.5%;
  left:19.2%;
  transform: translate(-50%, -50%);
  z-index: 300;
      img{
        width: 115%;
      }
}
.bg_top_right{
  // outline: 1px solid red;
  // width: 9%;
  // height: 10%;
  position:absolute;
  top: 5.5%;
  right:25.2%;
  transform: translate(-50%, -50%);
  z-index: 300;
      img{
        width: 150%;
      }
}

.bg_right_middle{
  position:absolute;
  top: 60%;
  right:-4%;
  transform: translate(-50%, -50%);
  z-index: 300;
      img{
        width: 140%;
      }
}


.xuan-event01{
  background-color: #9587E1;
  border-radius: 20px;
  width: 10.5%;
  height: 30%;
  position:absolute;
  top: 26%;
  left: 6%;
  transform: translate(-50%, -50%);
  z-index: 300;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;

        img{
          height: 70%;
        }
        p{
          margin-bottom: 40px;
          margin-right: 15px;
          margin-left: 60px;
        }

        .link-arrow{
          width: 30px;
        }

}

// 活動購物車

.xuan-box-cart{
  background-color: #81A8E0;
  border-radius: 50%;
  width: 13vw;
  height: 13vw;
  position:absolute;
  top: 81%;
  right: -6%;
  transform: translate(-50%, -50%);
  z-index: 300;
  color: white;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  text-align: center;
  padding: 10px;
  padding-top: 60px;
  
      p{
        letter-spacing: 0.2rem;
        margin-right: 5px;
      }

      .link-arrow{
        width: 28px;
      }

      .d-flex{
        margin-bottom: 15px;
        justify-content: center;
      }

      .xuan-event-cart-logo{
        // outline: 1px solid red;
        width: 50%;
      }


}






// }





// 方塊大小跟背景圖 RWD連動調整
// @media screen and (min-width: 1500px) and (max-width: 1900px){ 
//   .xuan-child-center{
//     width: 10%;
//     height: 10%;
//     transform: translate(-52%, -47%);
//     }

//   .xuan-mainpage-bg{
//     width: 100vw;
//     transform: translate(-50%, -50%);
//       >img{
//         width: 100%;
//         height: 100%;
//       }
//   }


//   // 轉生形象box
//   .xuan-box-avatar{
//     width: 7%;
//     height:10%;
//     position:absolute;
//     top: 56%;
//     left: 40.3%;
//     transform: translate(-50%, -50%);

//       >div:nth-child(3){
//         background-color: white;
//         width: 85%;
//         height: 60%;
//         border-radius: 10px;
//         margin: auto;
//         margin-top: 10px;
//       }

//       >p:nth-child(1){
//         width: 100%;
//         margin-top: 10px;
//         text-align: center;
//         font-size: $fz-h5;
//         font-family: $ff-t, $ff-h;
//         font-weight: 500;
//         margin: 15px auto;
//       }

//   }

//   // 會員中心box
//   .xuan-box-member{
//     border-radius: 20px;
//     width: 6.5%;
//     height: 10.5%;
//     background-color: #81A8E0;
//     position:absolute;
//     top: 65%;
//     left: 48%;
//     transform: translate(-50%, -50%);
//     color: white;


//         >div:nth-child(1){

//             display: flex;
//             justify-content: center;
//             align-items: center;
//             margin-top: 15px;

//             >img{
//               width: 15%;
//             }


//             >p{
//               width: 70%;
//               text-align: center;
//               font-size: $fz-h5;
//               font-family: $ff-t, $ff-h;
//               font-weight: 500;
//             }
//         }


//         >div:nth-child(2){
//           background-color: white;
//           border-radius: 10px;
//           width: 85%;
//           height: 60%;
//           margin: auto;
//           margin-top: 20px;
//         }

//     }

//   // 投胎去！
//   .xuan-go-future{
//     width: 2.5%;
//     // height: 10%;
//     border-radius: 50%;
//     background-color: #9587E1;
//     position:absolute;
//     top: 44.9%;
//     left: 57%;
//     transform: translate(-50%, -50%);

//     >img{
//       width: 100%;
//     }
//   }


//   // 良辰吉地
//   .xuan-time{
//     width: 13.5%;
//     height: 4.5%;
//     background-color: #9587E1;
//     border-radius: 20px;
//     position:absolute;
//     top: 58%;
//     left: 62%;
//     transform: translate(-50%, -50%);
//     color: white;
//     display: flex;
//     align-items: center;
//     justify-content: center;


//       >div:nth-child(1){
//         width: 35%;
//         text-align: center;
        
//         >p{
//           // width: 70%;
//           text-align: center;
//           font-size: $fz-h5;
//           font-family: $ff-t, $ff-h;
//           font-weight: 500;
//           margin-bottom: 15px;
//         }

//         >img{
//           width: 55%;
//         }
//       }

//       >div:nth-child(2){
//         width: 60%;

//         >img{
//           width: 90%;
//           margin: auto;
//         }
//       }
//   }

//   // 功德撲滿
//   .xuan-box-event{
//     background-color: #81A8E0;
//     border-radius: 20px;
//     width: 7%;
//     height: 11%;
//     position:absolute;
//     top: 53%;
//     left: 32%;
//     transform: translate(-50%, -50%);
//     z-index: 300;
//     color: white;

//     >p:nth-child(1){
//         width: 100%;
//         margin-top: 10px;
//         text-align: center;
//         font-size: $fz-h4;
//         font-family: $ff-t, $ff-h;
//         font-weight: 500;
//         line-height: 71px;
//         margin-bottom: 12px;
//     }
//     >div:nth-child(2){
//       background-color: white;
//       width: 80%;
//       height: 65%;
//       margin: auto;
//       border-radius: 10px;
//     }

//   }

// }




@media screen and (min-width: 1200px) and (max-width: 1500px){ 
  .xuan-child-center{
    width: 10%;
    height: 8%;
    transform: translate(-52%, -47%);
    }

  .xuan-mainpage-bg{
    width: 100vw;
    transform: translate(-50%, -50%);
      >img{
        width: 100%;
        height: 100%;
      }
  }

  // 轉生形象box
  .xuan-box-avatar{
    width: 7%;
    height:8%;
    position:absolute;
    top: 55%;
    left: 40.3%;
    transform: translate(-50%, -50%);

        >div:nth-child(3){
          background-color: rgba(255, 255, 255, 0.668);
          width: 85%;
          height: 53%;
          border-radius: 10px;
          margin: auto;
          margin-top: 10px;
        }

        >p:nth-child(1){
          width: 100%;
          margin-top: 10px;
          text-align: center;
          font-size: $fz-h3;
          font-family: $ff-t, $ff-h;
          font-weight: 500;
          margin: 15px auto;
        }

  }

  // 會員中心box
  .xuan-box-member{
    border-radius: 20px;
    width: 6.5%;
    height: 9%;
    background-color: #81A8E0;
    position:absolute;
    top: 63%;
    left: 48%;
    transform: translate(-50%, -50%);
    color: white;


        >div:nth-child(1){

            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 15px;

            >img{
              width: 15%;
            }

            >p{
              width: 70%;
              text-align: center;
              font-size: $fz-h4;
              font-family: $ff-t, $ff-h;
              font-weight: 500;
            }
        }


        >div:nth-child(2){
          background-color: white;
          border-radius: 10px;
          width: 85%;
          height: 60%;
          margin: auto;
          margin-top: 20px;
        }

    }


  // 投胎去！
  .xuan-go-future{
    width: 2.5%;
    // height: 10%;
    border-radius: 50%;
    background-color: #9587E1;
    position:absolute;
    top: 46%;
    left: 57%;
    transform: translate(-50%, -50%);

    >img{
      width: 100%;
    }
  }

  // 良辰吉地
  .xuan-time{
    width: 13.5%;
    height: 3%;
    background-color: #9587E1;
    border-radius: 20px;
    position:absolute;
    top: 56.2%;
    left: 62%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;


      >div:nth-child(1){
        width: 35%;
        text-align: center;
        
        >p{
          // width: 70%;
          text-align: center;
          font-size: $fz-h4;
          font-family: $ff-t, $ff-h;
          font-weight: 500;
          margin-bottom:15px;
        }

        >img{
          width: 55%;
        }
      }

      >div:nth-child(2){
        width: 60%;

        >img{
          width: 85%;
          margin: auto;
        }
      }
  }

    // 功德撲滿
  .xuan-box-event{
    background-color: #81A8E0;
    border-radius: 20px;
    width: 7%;
    height: 8.5%;
    position:absolute;
    top: 52%;
    left: 32%;
    transform: translate(-50%, -50%);
    z-index: 300;
    color: white;

    >p:nth-child(1){
        width: 100%;
        margin-top: 15px;
        text-align: center;
        font-size: $fz-h5;
        font-family: $ff-t, $ff-h;
        font-weight: 500;
        margin-bottom: 20px;
    }

    // 放圖片框框
    >div:nth-child(2){
      background-color: white;
      width: 80%;
      height: 65%;
      margin: auto;
      border-radius: 10px;
    }

  }


}

@media screen and (min-width: 992px) and (max-width: 1200px){ 
  .xuan-child-center{
    width: 10%;
    height: 6.5%;
    transform: translate(-52%, -47%);
    }

  .xuan-mainpage-bg{
    width: 100vw;
    transform: translate(-50%, -50%);
      >img{
        width: 100%;
        height: 100%;
      }
  }

  // 轉生形象box
  .xuan-box-avatar{
    width: 7%;
    height:6%;
    position:absolute;
    top: 54%;
    left: 40.3%;
    transform: translate(-50%, -50%);

        >div:nth-child(3){
          background-color: white;
          width: 85%;
          height: 48%;
          border-radius: 10px;
          margin: auto;
          margin-top: 10px;
        }

        >p:nth-child(1){
          width: 100%;
          margin-top: 10px;
          text-align: center;
          margin: 15px auto;

          font-family: $ff-t, $ff-h;
          font-weight: 700;
          font-size: $fz-title;
        }

        >div:nth-child(2){
          width: 100%;
          text-align: center;
                    
              >img{
                width: 35%;
                margin: auto;
              }
  
        }

  }

  // 會員中心box
  .xuan-box-member{
    border-radius: 20px;
    width: 6%;
    height: 6.5%;
    background-color: #81A8E0;
    position:absolute;
    top: 59%;
    left: 48%;
    transform: translate(-50%, -50%);
    color: white;


        >div:nth-child(1){

            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 15px;

            >img{
              width: 15%;
            }

            >p{
              width: 70%;
              text-align: center;
              font-family: $ff-t, $ff-h;
              font-weight: 700;
              font-size: $fz-title;
            }
        }


        >div:nth-child(2){
          background-color: white;
          border-radius: 10px;
          width: 85%;
          height: 55%;
          margin: auto;
          margin-top: 20px;
        }

    }

  // 投胎去！
  .xuan-go-future{
    width: 2.5%;
    border-radius: 50%;
    background-color: #9587E1;
    position:absolute;
    top: 46.8%;
    left: 57%;
    transform: translate(-50%, -50%);

    >img{
      width: 100%;
    }
  }

  // 良辰吉地
  .xuan-time{
    width: 13.2%;
    height: 2.5%;
    background-color: #9587E1;
    border-radius: 20px;
    position:absolute;
    top: 55%;
    left: 62%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;


      >div:nth-child(1){
        width: 35%;
        text-align: center;
        
        >p{
          // width: 70%;
          text-align: center;
          font-family: $ff-t, $ff-h;
          font-weight: 700;
          font-size: $fz-title;
          margin-bottom:15px;
        }

        >img{
          width: 55%;
        }
      }

      >div:nth-child(2){
        width: 60%;

        >img{
          width: 90%;
          margin: auto;
        }
      }
  }

  // 功德撲滿
  .xuan-box-event{
    background-color: #81A8E0;
    border-radius: 20px;
    width: 7%;
    height: 7%;
    position:absolute;
    top: 52%;
    left: 32%;
    transform: translate(-50%, -50%);
    z-index: 300;
    color: white;

    >p:nth-child(1){
        width: 100%;
        margin-top: 15px;
        text-align: center;
        font-size: $fz-h5;
        font-family: $ff-t, $ff-h;
        font-weight: 500;
        margin-bottom: 20px;
    }
    >div:nth-child(2){
      background-color: white;
      width: 80%;
      height: 60%;
      margin: auto;
      border-radius: 10px;
    }

  }
    
  


}


// 內容小盒----------------------------------------

.xuan-box{
/* 禁止元素被反藍選取 */
user-select: none; 
/* 禁止元素被拖拉 */
-webkit-user-drag: none;
// box-shadow: 2px 4px 4px 0px rgba(121, 121, 121, 0.25);
box-shadow: 2px 4px 4px 0px rgba(149,135,225, 0.25);
}

*{
  user-select: none; 
/* 禁止元素被拖拉 */
-webkit-user-drag: none;
}

.xuan-box:hover{
    transition: .2s;
    // transform: translateX(-0.01%);
    // box-shadow: 2px 6px 4px 2px rgba(121, 121, 121, 0.25);
    box-shadow: 2px 4px 4px 2px rgba(149,135,225, 0.25);
  
}

.link-arrow:hover{
  cursor: pointer;
    animation: rotate .5s linear;
    // filter: invert(98%) sepia(25%) saturate(7500%) hue-rotate(356deg) brightness(106%) contrast(103%);
}

// Rotate using @keyframes
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}






