/* 正式上線改用 bootstrap-grid.min.css */
@import '~bootstrap/scss/bootstrap-grid.scss';

/* 引入自定義變數 */
@import '../../styles/variables.scss';


// 手機版放這邊-------------------------------------
.xuan-event-history-container{
    padding-top: 20px;

    // FIXME: 目前先寫死寬度
    // width: 800px;
    max-width: 380px;
    height: 100%;

      // 每一筆訂單框框
      .xuan-event-history-item{
        border-radius: 10px;
        // outline: 3px solid blue;
        padding: 10px;
        width: 100%;
        margin-bottom: 20px;

        >div{
          margin-bottom: 10px;
          align-items: center;

          .xuan-member-num{
              margin-right: 5px;
            }
        }

        // 每筆訂單的活動細項
        .xuan-event-history-list{

              .xuan-member-event-detail{
                  // outline: 1px solid red;

                  // 活動圖片
                  .xuan-member-event-detai-img{
                      // outline: 2px solid green;
                      width: 100%;
                      height: 110px;
                      margin-right: 5px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      overflow: hidden;
                      border-radius: 10px;
                      margin-bottom: 15px;

                    }


                  // 活動內容
                  .xuan-member-event-main{

                    p{
                      margin-bottom: 10px;
                    }

                    // 調整日期 跟 時刻 之間的間距
                    .xuan-day{
                      margin-right: 7px;
                    }
                  
                    
                    //活動標題
                    .xuan-member-event-title{
                      margin-right: 10px;
                      display: flex;
                      align-items: center;


                      // 活動類型 ex: 贊助 志工
                        p:nth-child(1){
                          background-color: #EDEFF7;
                          padding: 5px;
                          border-radius: 5px;
                          margin-right: 7px;
                        }

                        .xuan-body{
                          font-weight: 500;
                        }

                  
                        

                        p{
                          margin-bottom: 10px;
                        }
                    }
  
                  }

          
              }
        }




      }


      // 每筆訂單 Hover效果
      .xuan-event-history-item:hover{
        transition: .2s;
        transform: translateY(-2px);
        box-shadow: 3px 10px 10px 2px rgba(179, 179, 179, 0.25);
      }

}



// 桌機版放這邊------------------------------------


@media screen and (min-width: 992px){

    .xuan-event-history-container{

      // FIXME: 調欄位框度大小動這邊
      max-width: 500px;
      width: 500px;
      // outline: 1px solid blue;


        // 訂單編號 日期那些
          .xuan-event-history-item{

              padding-bottom: 0px;

              >div{
                margin-bottom: 15px;
              }
          }

          .xuan-event-history-list{
            
              .xuan-member-event-detail{
                display: flex;
                align-items:center ;
                justify-content: flex-start;

                    .xuan-member-event-detai-img{
                      max-width: 150px;
                      margin-right: 20px !important;
                      display: flex;
                      align-items: center;
                      justify-content: center;

                          img{
                            width:fit-content ;
                          }
                    }


                    .xuan-member-event-main{
                      margin-right: 20px;
                    }

              } 
      }
    }

}



