.eventdetail-container{
  width: 100%;
  height: 85%;
  margin: auto;
  color: black;
  list-style: none;
  position: absolute;
  top:90px; 
}


.eventdetail-container .row{
  width: 85%;
  height: 100%;
  margin: auto;
}

.intro-bread{
  height: 5%;
  color: black;
}

.intro-box{
  width: 80%;
  height: 85%;
  background-color: white;
  border-radius: 20px;
  padding: 30px 35px;
}

.intro-box>*{
  margin-bottom: 10px;
}

.intro-img{
  width: 90%;
  height: 50%;
  background-color: gray;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 15px;
}

.comment-item{
  border-radius: 15px;
  background-color: white;
  width: 90%;
  height: 60px;
  margin-bottom: 15px;
}

.buy-btn{
  width: 75%;
  height:150px;
  border-radius: 15px;
  background-color: gray;
  margin-bottom: 30px;
  padding: 30px;
  display: flex;
}

.buy-btn p{
  color: white;
  margin-top: 15px;
}

.buy-btn h2{
  color: #F3F59F;
}

.cost-price, .btn-group{
  width: 100%;
}

.btn-group button{
  width: 100%;
  margin-top: 15px;
}