/* 正式上線改用 bootstrap-grid.min.css */
@import '~bootstrap/scss/bootstrap-grid.scss';

/* 引入自定義變數 */
@import '../../styles/variables.scss';


a{
  text-decoration: none !important;
}


// 手機版
.xuan-eventdetail-container{
  position: relative;
  top:0px;
  padding-top: 50px;

  >.row{
    margin: 0px;
    width: 100%;

    >.xuan-col-8{
      width: 100%;

      >.xuan-intro-box{
        width: 95%;
        background-color: white;
        border-radius: 20px;
        margin: auto;
        margin-bottom: 15px;
        position: relative;
        padding: 1px;
        padding-top: 30px;

          >.xuan-intro-box-title{
            background-color:  #9587E1;
            border-radius: 20px 50px 50px 0px;
            padding: 10px 40px 10px 10px;
            position: absolute;
            left: 0px;
            top: -30px;
            color: white;
          }

          >.xuan-intro-img{
            width: 92%;
            margin: auto;
            // background-color: gray;
            border-radius: 15px;
            height: 350px;
            margin-bottom: 15px;
            overflow: hidden;

              .carousel-status{
                visibility: hidden !important;
              }
          }

          >.xuan-intro-bar{
            width: 91%;
            margin: auto;
            margin-bottom: 20px;
            color: #3C3B67;

              .d-flex{
                align-items: center;

                *{
                  margin-right: 5px;
                }

                a{
                  margin-bottom: 10px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
              }

              .xuan-tag-group{
                display: flex;
                margin-bottom: 10px;

                div{
                  margin: auto 5px;
                }

                .xuan-intro-tag-1{
                  background-color: rgba(227, 132, 242, 0.5);
                  border-radius: 7px;
                  color: #3C3B67;
                  padding: 5px;
                }

                .xuan-intro-tag-2{
                  display: flex;
                  background-color: #F3F59F;
                  border-radius: 7px;
                  color: #3C3B67;
                  padding: 5px;
                }
              }


              .xuan-intro-word  {
                margin-bottom: 7px;
                letter-spacing: 0.1rem;

                svg:nth-child(1){
                  margin: 3px;
                }

                span:nth-child(2){
                  margin-right: 3px;
                }

                span:nth-child(4){
                  margin-right: 3px;
                }

                span:nth-child(5){
                  margin-right: 3px;
                }
              }

              .xuan-intro-text{
                line-height: 2rem;
              }

          }



      }

    }


  }
}


.xuan-col-4{
  width: 100%;

  >.xuan-btn-wrap{
    width: 95%;
    margin: auto;

    >.xuan-buy-btn{
      width: 100%;
      background-color: black;
      padding: 20px 30px 10px 30px;
      border-radius: 20px;
      opacity: .7;
      color: white;
      display: flex;
      margin-bottom: 15px;

        >.xuan-cost-price{
          width: 50%;

          h2:nth-child(2){
            color: #F3F59F;
            line-height: 60px;
            margin-bottom: 5px;
          }

          img{
            width: 30px;
            margin-right: 10px;
          }

        }

        >.xuan-btn-group{
          width: 50%;

          >button{
            margin-bottom: 20px;

          }
        }

    }

  }

}


.xuan-comment-chart{
  margin-bottom: 15px;
  color: #3C3B67;

  span, a{
    margin-right: 10px;
  }
}

.xuan-comment-group{
  color: #3C3B67;

  .xuan-comment-bar{
    width: 100%;

    // 單個小評論條
    .xuan-comment-item{
      display: flex;
      align-items: center;
      border-radius: 15px;
      background-color: white;
      width: 100%;
      margin-bottom: 15px;
      padding: 10px;
    
          .xuan-comment-avatar{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: gray;
          }
    
          .xuan-comment-word-wrap{
            width: 60%;
            height: 100%;
            margin:auto  10px;
            
          
              >svg{
                padding-top:0.5px
              }
    
              .xuan-subtitle{
                  margin-right: 10px;
              }
    
              .xuan-body{
                color: gray;
              }
    
              span{
                line-height: 1.3rem;
                margin-bottom: 10px;
              }

              // .xuan-detail-date{
              //   margin-right: 10px;
              // }


          }
    }


  }


  
}

// 桌機版 
@media screen and (min-width: 992px) {
  .xuan-eventdetail-container{

    padding-top: 30px;

    >.row{
      width: 90%;
      margin: auto;
      display: flex;

        .xuan-col-8{
          width: 60%;
        }

        .xuan-col-4{
          width: 40%;
        }

        .xuan-intro-bar{
          max-height: 235px;
        }


    }
  }

}



.xuan-buy-btn{
  padding: 20px 40px 10px 40px;
}

.xuan-intro-img{
  max-height: 37.5vh;
}

.xuan-intro-box-title {
  padding: 10px 40px 10px 30px;
}

.xuan-comment-bar{
  max-height: 300px;
}