/* 正式上線改用 bootstrap-grid.min.css */
@import '~bootstrap/scss/bootstrap-grid.scss';

/* 引入自定義變數 */
@import '../../styles/variables.scss';


a{
  text-decoration: none !important;
}


// 手機版
.xuan-eventdetail-container{
  // outline: 1px solid red;
  position: relative;
  top:0px;
  padding-top: 70px;

  >.row{
    margin: 0px;
    width: 100%;

    >.xuan-col-8{
      width: 100%;

      >.xuan-intro-box{
        width: 95%;
        background-color: white;
        border-radius: 20px;
        margin: auto;
        margin-bottom: 15px;
        position: relative;
        padding: 1px;
        padding-top: 30px;

          >.xuan-intro-box-title{
            background-color:  #9587E1;
            border-radius: 20px 50px 50px 0px;
            padding: 10px 40px 10px 20px;
            position: absolute;
            left: 0px;
            top: -30px;
            color: white;

                .xuan-h4{
                  font-family: $ff-t, $ff-h ;
                  font-weight: 700;
                  font-size: $fz-title;
                }
          }

          >.xuan-intro-img{
            width: 92%;
            margin: auto;
            border-radius: 15px;
            height: 220px;
            margin-bottom: 15px;
            overflow: hidden;

              .carousel-status{
                visibility: hidden !important;
              }
          }

          >.xuan-intro-bar{
            width: 91%;
            margin: auto;
            margin-bottom: 20px;
            color: #3C3B67;



              .d-flex{
                align-items: center;

                *{
                  margin-right: 5px;
                }

                a{
                  margin-bottom: 10px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
              }

              .xuan-tag-group{
                display: flex;
                margin-bottom: 15px;

                div{
                  margin: auto 5px;
                }

                .xuan-intro-tag-1{
                  background-color: rgba(227, 132, 242, 0.5);
                  border-radius: 7px;
                  color: #3C3B67;
                  padding: 7px;
                  font-size: $fz-caption ;

                        svg{
                          margin-right: 5px;
                        }
                }

                .xuan-intro-tag-2{
                  display: flex;
                  background-color: #F3F59F;
                  border-radius: 7px;
                  color: #3C3B67;
                  padding: 10px;
                  font-size: $fz-caption ;

                    svg{
                      margin-right: 5px;
                      margin-top: 1px;
                    }

                    // svg:nth-child(3){
                    //   margin-right: 5px;
                    // }
                }
              }


              .xuan-intro-word  {
                margin-bottom: 15px;
                letter-spacing: 0.1rem;
                font-size: $fz-body;
                font-family: $ff-t, $ff-h ;
                font-weight: 400 ;


                svg:nth-child(1){
                  margin: 3px;
                }

                span:nth-child(2){
                  margin-right: 3px;
                }

                span:nth-child(4){
                  margin-right: 3px;
                }

                span:nth-child(5){
                  margin-right: 10px;
                }

              


              }


              .d-flex{

                  span{
                    margin-right: 10px;
                  }

                  a{
                    margin-bottom: 15px;
                  }
              }

              .xuan-intro-text{
                line-height: 1.6rem;
                margin-bottom: 5px;
              }

          }



      }

    }


  }
}


.xuan-col-4{
  width: 100%;

  >.xuan-btn-wrap{
    width: 95%;
    margin: auto;

    >.xuan-buy-btn{
      width: 100%;
      background-color: black;
      padding: 30px 20px 10px 30px;
      border-radius: 20px;
      opacity: .7;
      color: white;
      display: flex;
      margin-bottom: 15px;

        >.xuan-cost-price{
          width: 50%;
          margin-right: 10px;

          span:nth-child(1){
            margin-bottom: 18px;
          }

          h2:nth-child(2){
            color: #F3F59F;
            line-height: 60px;
            margin-bottom: 25px;
          }

          img{
            width: 30px;
            margin-right: 10px;

          }

        }

        >.xuan-btn-group{
          width: 50%;
          padding-top: 15px;

          >button{
            margin-bottom: 25px;

          }
        }

    }

  }

}


.xuan-comment-chart{
  margin-bottom: 15px;
  color: #3C3B67;

  .xuan-h5{
    font-family: $ff-t, $ff-h ;
    font-weight: 700;
    font-size: $fz-title;
    margin-left: 10px;
    margin-right: 20px;
  }


  span, a{
    margin-right: 10px;
  }
}

.xuan-comment-group{
  color: #3C3B67;

  .xuan-comment-bar{
    width: 100%;

    // 單個小評論條
    .xuan-comment-item{
      display: flex;
      align-items: center;
      border-radius: 15px;
      background-color: white;
      width: 100%;
      margin-bottom: 15px;
      padding: 10px;
    
          .xuan-comment-avatar{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            // outline: 1px solid red;
            // background-color: gray;
            display: flex;
            align-items: center;
            justify-content: center;

              img{
                width: 100%;
              }
          }
    
          .xuan-comment-word-wrap{
            width: 80%;
            height: 100%;
            margin:auto  10px;
            
          
              >svg{
                // padding-top:0.5px
              }
    
              .xuan-subtitle{
                  margin-right: 10px;
                  margin-bottom: 6px;
              }
    
              .xuan-body{
                color: gray;
              }
    
              span{
                line-height: 1.3rem;
                margin-bottom: 10px;
              }


              .xuan-comment-star-wrap{
                // outline: 1px solid red;
                display: flex;
                align-items:flex-start;
                margin-right: 10px;
                padding-top: 2px;
                  svg{
                    margin-right: 5px;
                    // padding-top: 2px;
                  }
              }
        

          


          }
    }


  }
  
}

// 桌機版 
@media screen and (min-width: 992px) {
  .xuan-eventdetail-container{

    padding-top: 70px;

    >.row{
      max-width: 1300px;
      width: 87%;
      // outline: 1px solid blue;
      margin: auto;
      display: flex;

        .xuan-col-8{
          width: 60%;

          .xuan-intro-box{
            margin: auto 0px;
            padding-top: 40px;

              .xuan-intro-box-title{

                padding: 10px 50px 10px 40px;

                .xuan-h4{
                  font-size: $fz-h4;
                  font-family: $ff-t, $ff-h ;
                  font-weight: 500 ;
                }
              }

              .xuan-intro-bar{
                min-height: 350px;
                // outline: 1px solid red;
              }

              .xuan-intro-img{
                // outline: 1px solid red;
                height: 300px;
                
              }




          }

        }

        .xuan-col-4{
          width: 40%;

              .xuan-btn-group{
                padding-top: 10px;
              }

              button{
                font-size: $fz-subtitle;
                font-family: $ff-t ;
                font-weight: 500 ;
              }

              .xuan-buy-btn{
                margin-bottom: 30px;
                padding-left: 70px;
                padding-bottom: 10px;
              }


        }

      


    }
  }

}



.xuan-buy-btn{
  padding: 20px 40px 10px 40px;
}

.xuan-intro-img{
  max-height: 37.5vh;
}

.xuan-intro-box-title {
  padding: 10px 40px 10px 30px;
}

.xuan-comment-bar{
  max-height: 410px;
}
