body {
    background-image: linear-gradient(180deg, #EDEFF7, #DBE0ED);
    background-repeat: no-repeat;
    width: 100%;
}

/* 有些手機橫放會超過 768px 所以選擇在 992px 切換 */
@media screen and (min-width: 992px) {
    body {
        width: 100%;
        height: calc(var(--vh, 1vh) * 100);
    }
}

#root {
    /* TODO: 請記得這目前是所有 React Component 的父元素 */
}

/* ============================================================ */
/* Background */
/* ============================================================ */
.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -100000;
}

.background-dark {
    /* TODO: 決定暗色主題的背景顏色為何 */
    background-color: #3C3B67;
    /* background-color: #3C3B67; */
    /* background-image: linear-gradient(180deg, #6A63A4, #1F1F35); */
}

/* FIXME: 為什麼兩個 svg 都如下設定 */
/* position: absolute; top: 0; */
/* 結果卻不一樣高 */
.background > .bg-L-cloud-left-top {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
}

@media screen and (min-width: 992px) {
    .background > .bg-L-cloud-left-top {
        display: block;
    }
}

.background > .bg-L-mist-right-top {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
}

@media screen and (min-width: 992px) {
    .background > .bg-L-mist-right-top {
        display: block;
    }
}

.background > .bg-L-cloud-right-bottom {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
}

@media screen and (min-width: 992px) {
    .background > .bg-L-cloud-right-bottom {
        display: block;
    }
}

.background-dark > .bg-D-cloud-left-bottom {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 35%;
}

@media screen and (min-width: 992px) {
    .background-dark > .bg-D-cloud-left-bottom {
        display: block;
    }
}

.background-dark > .bg-D-wave-right-top {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 28%;
}

@media screen and (min-width: 992px) {
    .background-dark > .bg-D-wave-right-top {
        display: block;
    }
}

.background-dark > .bg-D-star-left {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 17%;
}

@media screen and (min-width: 992px) {
    .background-dark > .bg-D-star-left {
        display: block;
    }
}

.background-dark > .bg-D-star-right {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 23%;
}

@media screen and (min-width: 992px) {
    .background-dark > .bg-D-star-right {
        display: block;
    }
}

/* ============================================================ */
/* Genie */
/* ============================================================ */
/* FIXME: 素材修正後要調整 css position */
/* TODO: Genie 的 z-index 要僅次於浮出的全頁式 Nav Page */
.genie {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 11%;
    /* 思方老師說最好不要超過 85px */
    max-width: 85px;
}

@media screen and (min-width: 992px) {
    .genie {
        bottom: -30px;
    }
}