/* 正式上線改用 bootstrap-grid.min.css */
@import '~bootstrap/scss/bootstrap-grid.scss';

/* 引入自定義變數 */
@import './variables.scss';

/* ============================================================ */
/* 通用設定 */
/* ============================================================ */
// FIXME: 如果背景顏色不同會有露餡問題
// 可能要傳參數進來調整背景顏色
// TODO: 在 onClick 切換顏色按鈕時執行一段 JavaScript
// 用 const body = document.querySelector('body').classList.add()
// 的方式用 className toggles background-color
// 因為 React 的 useRef() 只能參照到 #root 以下
body {
    background-image: linear-gradient(180deg, $bgc-L-l, $bgc-L-d);
    // background-color: #3C3B67;
    background-repeat: no-repeat;
    width: 100%;
    font-weight: 400;
    font-size: 1rem;
    font-family: $ff-t, Arial, sans-serif;
}

/* 有些手機橫放會超過 768px 所以選擇在 992px 切換 */
/* FIXME: 要想辦法讓他保留高度 否則無法實現水平捲動頁面 */
/* 要讓內容 fixed 在螢幕中 但垂直條可以滾動 */
/* DONE: 目前可以利用 Overlay Scrollbars 來達成 */
@media screen and (min-width: 992px) {
    body {
        width: 100%;
        height: calc(var(--vh, 1vh) * 100);
    }
}

#root {
    // TODO: 請記得這目前是所有 React Component 的父元素
    height: 100%;
    // 處理內容不足撐不高的狀況
    min-height: calc(var(--vh, 1vh) * 100);
    overflow: hidden; // 與 body 配合防止視窗滾動
}

h2 {
    font-weight: 700;
    font-size: $fz-h2;
    font-family: $ff-h;
}

h3 {
    font-weight: 700;
    font-size: $fz-h3;
}

/* ============================================================ */
/* 通用 className */
/* ============================================================ */

/* ============================================================ */
/* Nav */
/* ============================================================ */
.nav {
    position: fixed;
    top: 0;
    z-index: 100000;
    outline: 1px solid red;
    
    // 高度由內容撐高
    >.nav-inner {
        height: $height-nav-mobile;
        color: #FFFFFF;
        
        >.nav-inner-right {
            font-size: 2.25rem;
            position: relative;
            bottom: 2px; // 修正 baseline 問題
            
            // TODO: 某寬度時只顯示漢堡選單
            // FIXME: 這 className 不好 但是辨識度高
            // DONE: 先暫定為 768px
            .nir-NavSoul,
            .nir-FaShoppingCart,
            .nir-BsFillPersonFill {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .nav {
        >.nav-inner {
            height: $height-nav;

            >.nav-inner-right {
                .nir-NavSoul,
                .nir-FaShoppingCart,
                .nir-BsFillPersonFill {
                    display: inline-block;
                }
                * + * {
                    margin-left: 0.75rem;
                }
            }
        }
    }
}

.nav-light {
    background-color: $bgc-Nav-mobile-light;
}

@media screen and (min-width: 992px) {
    .nav-light {
        background-color: transparent;
    }
}

.nav-dark {
    background-color: $bgc-Nav-mobile-dark;
}

@media screen and (min-width: 992px) {
    .nav-dark {
        background-color: transparent;
    }
}

// --------Nav光箱目錄--------------

.nav_lightbox_hidden {
    background-color: #000000CC;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.nav_lightbox_visible {
    background-color: #000000CC;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
    transition: linear .4s; /* FIXME: 目前無法正確作用 */
    z-index: 100000;
}

.nav_lightbox_wrap {
    width: 80%;

    > .nav_lightbox_list {
        display: flex;
        
        > h2 {
            color: #FFFFFF;
            line-height: 6rem;
            margin-right: 25px;
        }

        > h4 {
            color: #FFFFFF;
            line-height: 6rem;
            letter-spacing: 0.2rem;
        }
    }

    .nav_lightbox_list:hover {
        background-color: $highlight;
        cursor: pointer;
    }

    .nav_lightbox_list:hover {
        > h2, h4 {
            color: $bgc-D;
        }
    }
}

/* ============================================================ */
/* MainContent */
/* ============================================================ */

.main-padding-top {
    padding-top: $height-nav-mobile;
}

@media screen and (min-width: 768px) {
    .main-padding-top {
        padding-top: $height-nav;
    }
}

/* ============================================================ */
/* Header */
/* ============================================================ */
// FIXME: 目前字體大小是吃 h2 的設定 必須要改成 RWD
.header {
    font-weight: 700;
    font-family: $ff-h;
    width: 100%;
    padding-left: 20px;
    margin-bottom: 20px;
    letter-spacing: 0.6rem;
    outline: 1px solid red;
    position: relative;
}

.header-padding-top {
    padding-top: 20px;
}

@media screen and (min-width: 992px) {
    .header-padding-top {
        padding-top: 10px;
    }
}

.header-baseline-decoration {
    width: 33vw;
    // FIXME: min-width 要配合字體大小 RWD
    min-width: 280px;
    // TODO: height (%)
    height: 25px;
    position: absolute;
    left: 0;
    bottom: -13px;
    z-index: -1;
}

/* ============================================================ */
/* Background */
/* ============================================================ */
.background {
    // 不可以 absolute 只會在調整視窗大小時渲染一次
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -100000;

    .bg-L-cloud-left-top {
        display: none;
        position: absolute;
        left: -22%;
        // FIXME: 如果素材有修正要調整定位方式 最後要以教室電腦為主
        top: 0%;
        width: 60%;
    }

    @media screen and (min-width: 992px) {
        .bg-L-cloud-left-top {
            display: block;
        }
    }

    .bg-L-mist-right-top-L {
        display: none;
        position: absolute;
        right: -10%;
        // FIXME: 如果素材有修正要調整定位方式 最後要以教室電腦為主
        top: -50%;
        width: 50%;
    }

    @media screen and (min-width: 992px) {
        .bg-L-mist-right-top-L {
            display: block;
        }
    }

    .bg-L-mist-right-top-S {
        display: none;
        position: absolute;
        right: -10%;
        // FIXME: 如果素材有修正要調整定位方式 最後要以教室電腦為主
        top: -52%;
        width: 50%;
    }

    @media screen and (min-width: 992px) {
        .bg-L-mist-right-top-S {
            display: block;
        }
    }

    .bg-L-cloud-right-bottom {
        display: none;
        position: absolute;
        right: -13%;
        // FIXME: 如果素材有修正要調整定位方式 最後要以教室電腦為主
        bottom: 0%;
        width: 40%;
    }
    
    @media screen and (min-width: 992px) {
        .bg-L-cloud-right-bottom {
            display: block;
        }
    }
}

.background-dark {
    background-color: $bgc-D;

    .bg-D-cloud-left-bottom {
        display: none;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 35%;
    }
    
    @media screen and (min-width: 992px) {
        .bg-D-cloud-left-bottom {
            display: block;
            // animation: bgDclb ease-in-out 12s infinite alternate-reverse;
        }

        @keyframes bgDclb {
            0% {
                left: -20px;
            }
            100% {
                left: 0px;
            }
        }
    }

    .bg-D-wave-right-top-L {
        display: none;
        position: absolute;
        right: 0;
        // FIXME: 如果素材有修正要調整定位方式 最後要以教室電腦為主
        top: 0%;
        width: 40%;
    }
    
    @media screen and (min-width: 992px) {
        .bg-D-wave-right-top-L {
            display: block;
        }
    }

    .bg-D-wave-right-top-S {
        display: none;
        position: absolute;
        right: 0;
        // FIXME: 如果素材有修正要調整定位方式 最後要以教室電腦為主
        top: 0%;
        width: 32%;
    }
    
    @media screen and (min-width: 992px) {
        .bg-D-wave-right-top-S {
            display: block;
        }
    }
    
    .bg-D-star-left {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 17%;
    }
    
    @media screen and (min-width: 992px) {
        .bg-D-star-left {
            display: block;
            animation: star-left-flickering 10s infinite;
        }

        // FIXME: 星星閃爍效果的一種寫法 或許可以想辦法柔和一點
        @keyframes star-left-flickering {
            0%   { opacity:1; }
            15%  { opacity:1; }
            25%  { opacity:0; }
            35%  { opacity:1; }
            100% { opacity:1; }
        }
    }
    
    .bg-D-star-right {
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 23%;
    }
    
    @media screen and (min-width: 992px) {
        .bg-D-star-right {
            display: block;
            // animation: star-right-flickering 10s infinite;
            // animation: star-right-sizing 10s infinite;
            // animation: star-right-rotating 10s infinite;
        }

        // FIXME: 右邊的星星比較大 比較搶眼 視覺上要更柔和才行
        // @keyframes star-right-flickering {
        //     0%   { opacity:1; }
        //     50%  { opacity:1; }
        //     75%  { opacity:0; }
        //     // 85%  { opacity:1; }
        //     100% { opacity:1; }
        // }

        // @keyframes star-right-sizing {
            // 0%   { transform: scale(1); }
            // 50%  { transform: scale(1); }
            // 75%  { transform: scale(0.98); }
            // 85%  { transform: scale(1); }
            // 100% { transform: scale(1); }
        // }

        // @keyframes star-right-rotating {
        //     0%   { transform: rotate(0); }
        //     50%  { transform: rotate(0); }
        //     75%  { transform: rotate(1deg) scale(0.99) }
        //     // 85%  { transform: rotate(0); }
        //     100% { transform: rotate(0); }
        // }
    }
}

/* ============================================================ */
/* Genie */
/* ============================================================ */
/* FIXME: 素材修正後要調整 css position */
/* TODO: Genie 的 z-index 要僅次於浮出的全頁式 Nav Page */
.genie {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 11%;
    /* 思方老師說最好不要超過 85px */
    max-width: 85px;
}

@media screen and (min-width: 992px) {
    .genie {
        bottom: -30px;
    }
}