/* 1 pt = px * 4/3 */

/* ============================================================ */
/* 變數宣告 variables */
/* ============================================================ */
$primary: #E384F2;
$secondary: #9587E1;
$primary-50p: #E384F288;
$secondary-50p: #9587E188;
$secondary-50p-opaque: #BDB8E8; // 不透明的 $secondary-50p

$accent-blue: #81A8E0;
$accent-blue-50p: #81A8E088;
$accent-green: #B9DED2;
$highlight: #F3F59F;
$highlight-60p: #F4F59F9A;
$alert: #FF52BA;
$interact: #CE59E7;

$bgc-D: #3C3B67;
$bgc-L-l: #EDEFF7;
$bgc-L-d: #DBE0ED;

$black-20p: #00000033;
$black-30p: #0000004D;
$black-70p: #000000B3;

$white-33p: #FFFFFF55;

// $bgc-Nav-mobile: #2D2828CC; // 原半透明版本
// $bgc-Nav-mobile-light: #535051; // 不透明深灰
// $bgc-Nav-mobile-light: #bdb8e8; // 不透明粉紫
$bgc-Nav-mobile-light: $bgc-D; // 背景藍
$bgc-Nav-mobile-dark: #2F2C34; // 不透明暗底深灰疊加背景藍


$ff-h: 'M PLUS Rounded 1c';
$ff-t: 'Noto Sans TC';

// h1 ~ h6 的字型都是 $ff-h: 'M PLUS Rounded 1c'
// TODO: 可以考慮用 vw 來換算所有尺寸
// 或是系統性的命名
// fz-h2-lg, fz-h2-md, ...
$fz-h2: 3rem;
$fz-h3: 2.5rem;
$fz-h4: 2.25rem;
$fz-h5: 2rem;

$fz-title: 1.5rem;
$fz-subtitle: 1.25rem;
$fz-body: 1rem;
$fz-caption: 0.875rem;
$fz-boby-mobile: 0.75rem;

$height-nav-mobile: 50px;
$height-nav: 96px;
