@import '../../styles/variables.scss';

// FIXME: 手機版可以直接變長閱讀 桌面版就跳轉吧 
// DONE: 手機版也先跳頁 不然麻煩
// FIXME: 應該要把寬高都設定在子層
// DONE: 用兩種方式強制控制高度
// FIXME: 編輯貼文功能可能要看情況了

// ============================================================
// 卡片主體部分
// ============================================================

// 只拿來定位
.cpl-post-card-container {
    // outline: 1px solid blueviolet;
    position: relative;
}

.cpl-post-card-body {
    width: 100%;
    overflow: hidden; // 用來規避 Overlay Scrollbars 有時爆版問題
    border: 2px solid $accent-blue;
    border-radius: 20px;
    backdrop-filter: blur(2px);
    position: relative;
    top: 20px;
    margin-bottom: 40px; // FIXME: 日後有錯誤可能是這裡來的
    
    >.col-lg-6 {
        position: relative;
    }
}

@media screen and (min-width: 500px) {
    .cpl-post-card-body {
        top: 20px; // 讓視覺上低一點
        margin-bottom: 60px; // FIXME: 日後有錯誤可能是這裡來的
    }
}

.cpl-pcb-box-shadow-light {
    box-shadow: 10px 10px 5px $black-20p;
}

@media screen and (min-width: 576px) {
    .cpl-pcb-box-shadow-light {
        box-shadow: 15px 15px 8px $black-20p;
    }
}

.cpl-pcb-box-shadow-dark {
    box-shadow: 10px 10px 5px $black-30p;
}

@media screen and (min-width: 576px) {
    .cpl-pcb-box-shadow-dark {
        box-shadow: 15px 15px 8px $black-30p;
    }
}

@media screen and (min-width: 992px) {
    .cpl-post-card-body {
        max-height: 560px;
        top: calc(var(--vh, 1vh) * 38 - 250px);
        // max-width: calc(var(--vh, 1vh) * 120);
        // max-height: calc(var(--vh, 1vh) * 70);
        // aspect-ratio: 12/7;
    }
}

@media screen and (min-width: 1200px) {
    .cpl-post-card-body {
        top: calc(var(--vh, 1vh) * 38 - 280px);
        max-width: 1080px;
        max-height: 630px;
        aspect-ratio: 12/7;
    }
}

@media screen and (min-width: 1400px) {
    .cpl-post-card-body {
        top: calc(var(--vh, 1vh) * 15 - 115px);
        // top: clamp(10px, 10px, 10px); // FIXME: 筆電和桌電的差異 用 calc 搭配差值試試看
        // top: calc(var(--vh, 1vh) * 87 - 788px); // FIXME: 筆電和桌電的差異 用 calc 搭配差值試試看
        // max-width: 1200px;
        max-width: calc(var(--vh, 1vh) * 144);
        max-height: calc(var(--vh, 1vh) * 84);
    }
}

// ============================================================
// 來生形象部分
// ============================================================

.cpl-pcb-avatar {
    width: 80%;
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    margin: auto;
}

@media screen and (min-width: 500px) {
    .cpl-pcb-avatar {
        top: 50px;
    }
}

@media screen and (min-width: 768px) {
    .cpl-pcb-avatar {
        top: 60px;
    }
}

@media screen and (min-width: 992px) {
    .cpl-pcb-avatar {
        max-width: 400px;
        top: 25px;
    }
}

@media screen and (min-width: 1200px) {
    .cpl-pcb-avatar {
        max-width: 440px;
        top: 40px;
    }
}

@media screen and (min-width: 1400px) {
    .cpl-pcb-avatar {
        max-width: calc(var(--vh, 1vh) * 60);
        top: 40px;
    }
}

.cpl-pcb-af-round,
.cpl-pcb-af-square {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    aspect-ratio: 1/1;
    border: 2px solid $bgc-D;
    z-index: -2;
}

.cpl-pcb-af-round {
    width: 83%;
    border-radius: 50%;
    bottom: 27.7%;
}

.cpl-pcb-af-square {
    width: 70%;
    bottom: 18%;
}

@media screen and (min-width: 500px) {
    .cpl-pcb-af-round {
        bottom: 15.4%;
    }
    
    .cpl-pcb-af-square {
        bottom: 4.6%;
    }
}

@media screen and (min-width: 768px) {
    .cpl-pcb-af-round {
        bottom: 15.4%;
    }

    .cpl-pcb-af-square {
        bottom: 4%;
    }
}

@media screen and (min-width: 992px) {
    .cpl-pcb-af-round {
        bottom: 22.4%;
    }

    .cpl-pcb-af-square {
        bottom: 11.2%;
    }
}

@media screen and (min-width: 1200px) {
    .cpl-pcb-af-round {
        bottom: 19%;
    }
    .cpl-pcb-af-square {
        bottom: 7.8%;
    }
}

.cpl-pcb-close-icon {
    font-size: $fz-h4;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

@media screen and (min-width: 500px) {
    .cpl-pcb-close-icon {
        font-size: $fz-h3;
    }
}

@media screen and (min-width: 768px) {
    .cpl-pcb-close-icon {
        font-size: $fz-h2;
        right: 10px;
        top: 10px;
    }
}

@media screen and (min-width: 992px) {
    .cpl-pcb-close-icon {
        font-size: 3.5rem;
        right: 15px;
        top: 15px;
    }
}

.cpl-pcb-inner-avatar-info{
    padding-top: 97%;

    .cpl-ivi-title {
        font-weight: 700;
        font-size: $fz-body;
        margin-bottom: 12px;
        // outline: 1px solid red;
        padding-left: 6%;
    }

    .cpl-ivi-detail {
        display: block;
        font-size: $fz-caption;
        margin-bottom: 16px;
        line-height: normal;
        // outline: 1px solid red;
        padding-left: 6%;

        .cpl-ivi-d-more {
            font-weight: 700;
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 500px) {
    .cpl-pcb-inner-avatar-info{
        padding-top: 95%;
    
        .cpl-ivi-title {
            margin-bottom: 12px;
        }
    
        .cpl-ivi-detail {
            margin-bottom: 16px;
        }
    }
}

@media screen and (min-width: 768px) {
    .cpl-pcb-inner-avatar-info{
        .cpl-ivi-title {
            font-size: $fz-title;
            margin-bottom: 16px;
        }
    
        .cpl-ivi-detail {
            font-size: $fz-body;
            margin-bottom: 20px;
        }
    }
}

@media screen and (min-width: 992px) {
    .cpl-pcb-inner-avatar-info{
        padding-top: 92%;

        .cpl-ivi-title {
            font-size: $fz-body;
            margin-bottom: 12px;
        }
    
        .cpl-ivi-detail {
            font-size: $fz-caption;
            margin-bottom: 16px;
            min-height: 20px; // DONE: 初步修復無內容塌陷問題
            max-height: 20px; // DONE: 初步修復無內容塌陷問題
        }
    }
}

@media screen and (min-width: 1200px) {
    .cpl-pcb-inner-avatar-info{
        padding-top: 93%;
    }
}

@media screen and (min-width: 1400px) {
    .cpl-pcb-inner-avatar-info{
        padding-top: 92%;
        .cpl-ivi-title {
            font-size: $fz-title;
            margin-bottom: 8px;
        }
    
        .cpl-ivi-detail {
            font-size: $fz-body;
            margin-bottom: 20px;
        }
    }
}

@media screen and (min-width: 992px) {
    .cpl-pcb-ivi-interaction-area {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1400px) {
    .cpl-pcb-ivi-interaction-area {
        margin-bottom: 20px;
    }
}

// FIXME: 先簡單處理 baseline 問題 有空再回來處理
.cpl-pcb-ivi-ia-price {
    font-size: 1.875rem;
    position: relative;
    top: -2px;
    // outline: 1px solid red;
    width: 84px;
    text-align: center;
}

.cpl-pcb-ivi-ia-AiFillPlusCircle {
    font-size: 2.75rem;
    color: #CE59E7;
    cursor: pointer;
    position: relative;
    top: -1px;
}

@media screen and (min-width: 500px) {
    .cpl-pcb-ivi-ia-AiFillPlusCircle {
        font-size: 3rem;
    }
}

// FIXME: 有問題的話要調整定位
.cpl-pcb-ivi-ia-AiFillPlusCircle-filler {
    width: 25px;
    height: 25px;
    background-color: $bgc-L-l;
    position: absolute;
    left: 120px;
    right: 0;
    margin: auto;
    z-index: -1;
}

// ============================================================
// 分享文章部分
// ============================================================

.cpl-pcb-inner-text-area {
    padding-top: 20px;
    padding-left: 6% !important;
    padding-right: 6% !important;
    position: relative;
    // outline: 1px solid green;
}

@media screen and (min-width: 992px) {
    .cpl-pcb-inner-text-area {
        padding-left: 0 !important;
        padding-right: 20px !important;
    }
}

@media screen and (min-width: 1200px) {
    .cpl-pcb-inner-text-area {
        padding-top: 28px;
        padding-right: 40px !important;
    }
}

@media screen and (min-width: 1400px) {
    .cpl-pcb-inner-text-area {
        padding-top: 34px;
        padding-right: 50px !important;
    }
}

.cpl-pcb-ita-title-area {
    margin-bottom: 24px;
}

@media screen and (min-width: 992px) {
    .cpl-pcb-ita-title-area {
        margin-bottom: 16px;
    }
}

@media screen and (min-width: 1200px) {
    .cpl-pcb-ita-title-area {
        margin-bottom: 24px;
    }
}

.cpl-pcb-ita-ta-inner-title {
    font-family: $ff-t; // FIXME: $ff-h 太容易缺字
    font-size: $fz-h5;
    font-weight: 500;
    margin-bottom: 20px;
}

@media screen and (min-width: 500px) {
    .cpl-pcb-ita-ta-inner-title {
        font-size: $fz-h4;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 768px) {
    .cpl-pcb-ita-ta-inner-title {
        font-size: $fz-h3;
    }
}

@media screen and (min-width: 992px) {
    .cpl-pcb-ita-ta-inner-title {
        font-size: $fz-h4;
        margin-bottom: 12px;
    }
}

@media screen and (min-width: 1200px) {
    .cpl-pcb-ita-ta-inner-title {
        margin-bottom: 20px;
    }
}

.cpl-pcb-ita-ta-inner-tags {
    font-size: $fz-body-mobile;
    // outline: 1px solid red;

    >.cpl-pcb-ita-ta-it-tag-item {
        color: #FFFFFF;
        border-radius: 20px;
        font-weight: 500;
        background-color: $secondary;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 4px;
        padding-bottom: 5px;

        + .cpl-pcb-ita-ta-it-tag-item {
            margin-left: 5px;
        }
    }
}

@media screen and (min-width: 500px) {
    .cpl-pcb-ita-ta-inner-tags {
        font-size: $fz-caption;
    
        >.cpl-pcb-ita-ta-it-tag-item {
            + .cpl-pcb-ita-ta-it-tag-item {
                margin-left: 10px;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .cpl-pcb-ita-ta-inner-tags {
        min-height: 23px; // DONE: 初步修復無內容塌陷問題
        max-height: 23px; // DONE: 初步修復無內容塌陷問題
    }
}

@media screen and (min-width: 1400px) {
    .cpl-pcb-ita-ta-inner-tags {
        font-size: $fz-body;

        >.cpl-pcb-ita-ta-it-tag-item {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.cpl-pcb-ita-text-heading {
    margin-bottom: 16px;

    >.cpl-pcb-ita-th-inner-left {
        >.cpl-pcb-ita-th-il-mh-area {
            width: 50px;
            aspect-ratio: 1/1;
            overflow: hidden;
            border-radius: 50%;
            border: 2px solid $bgc-L-l;
            background-color: $bgc-L-l;

            >.cpl-pcb-ita-th-il-mh-memberhead {
                width: 400%;
                position: relative;
                left: -153%; /* 200% - 50% */
                top: -45%; /* - 50% + 5% 規避頸部 */
            }
        }

        >.cpl-pcb-ita-th-il-account {
            padding-left: 10px;
            font-size: $fz-body;
        }
    }

    >.cpl-pcb-ita-th-inner-right {
        font-size: $fz-body;
    
        >.cpl-pcb-ita-th-ir-likes-area {
            >.cpl-pcb-ita-th-ir-la-AiHeart {
                font-size: $fz-h5;
                cursor: pointer;
            }
            
            >.cpl-pcb-ita-th-ir-la-likes-number {
                padding-left: 3px;
            }
        }
        
        >.cpl-pcb-ita-th-ir-collects-area {
            margin-left: 10px;
            
            >.cpl-pcb-ita-th-ir-la-AiBookmark {
                font-size: $fz-title;
                cursor: pointer;
            }
    
            >.cpl-pcb-ita-th-ir-la-collects-number {
                padding-left: 3px;
            }
        }
    }
}

@media screen and (min-width: 500px) {
    .cpl-pcb-ita-text-heading {
        margin-bottom: 12px;
    
        >.cpl-pcb-ita-th-inner-left {
            >.cpl-pcb-ita-th-il-mh-area {
                width: 80px;
            }
    
            >.cpl-pcb-ita-th-il-account {
                font-size: $fz-subtitle;
            }
        }
    
        >.cpl-pcb-ita-th-inner-right {
            font-size: $fz-subtitle;
        
            >.cpl-pcb-ita-th-ir-likes-area {
                >.cpl-pcb-ita-th-ir-la-AiHeart {
                    font-size: $fz-h3;
                }
                
                >.cpl-pcb-ita-th-ir-la-likes-number {
                    padding-left: 3px;
                }
            }
            
            >.cpl-pcb-ita-th-ir-collects-area {
                margin-left: 10px;
                
                >.cpl-pcb-ita-th-ir-la-AiBookmark {
                    font-size: $fz-h5;
                }
        
                >.cpl-pcb-ita-th-ir-la-collects-number {
                    padding-left: 3px;
                }
            }
        }
    }
}

.cpl-pcb-ita-th-ir-la-AiHeart.isLiked {
    color: $primary;
}

.cpl-pcb-ita-th-ir-la-AiBookmark.isCollected {
    color: $primary;
}

@media screen and (min-width: 768px) {
    .cpl-pcb-ita-text-heading {
        >.cpl-pcb-ita-th-inner-left {
            >.cpl-pcb-ita-th-il-account {
                font-size: $fz-title;
            }
        }

        >.cpl-pcb-ita-th-inner-right {
            font-size: $fz-title;
        
            >.cpl-pcb-ita-th-ir-likes-area {
                >.cpl-pcb-ita-th-ir-la-likes-number {
                    padding-left: 10px;
                }
            }
            
            >.cpl-pcb-ita-th-ir-collects-area {
                margin-left: 20px;
        
                >.cpl-pcb-ita-th-ir-la-collects-number {
                    padding-left: 10px;
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .cpl-pcb-ita-text-heading {
        >.cpl-pcb-ita-th-inner-left {
            >.cpl-pcb-ita-th-il-mh-area {
                width: 60px;
            }

            >.cpl-pcb-ita-th-il-account {
                padding-left: 12px;
                font-size: $fz-subtitle;
            }
        }

        >.cpl-pcb-ita-th-inner-right {
            font-size: $fz-subtitle;
            padding-right: 14px;
        
            >.cpl-pcb-ita-th-ir-likes-area {
                
                >.cpl-pcb-ita-th-ir-la-likes-number {
                    padding-left: 5px;
                }
            }
            
            >.cpl-pcb-ita-th-ir-collects-area {
                margin-left: 10px;
        
                >.cpl-pcb-ita-th-ir-la-collects-number {
                    padding-left: 5px;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .cpl-pcb-ita-text-heading {
        >.cpl-pcb-ita-th-inner-left {
            >.cpl-pcb-ita-th-il-mh-area {
                width: 80px;
            }

            >.cpl-pcb-ita-th-il-account {
                padding-left: 20px;
            }
        }

        >.cpl-pcb-ita-th-inner-right {
            padding-right: 0px;

            >.cpl-pcb-ita-th-ir-collects-area {
                margin-left: 12px;
            }
        }
    }
}

// FIXME: 1400px up RWD
@media screen and (min-width: 1400px) {
    .cpl-pcb-ita-text-heading {
        >.cpl-pcb-ita-th-inner-left {
            >.cpl-pcb-ita-th-il-account {
                font-size: 1.75rem;
            }
        }

        >.cpl-pcb-ita-th-inner-right {
            font-size: $fz-title;
        }
    }
}

.cpl-pcb-ita-text-content {
    line-height: normal;
    // padding-bottom: 1rem;
    border-bottom: 2px solid $accent-blue-50p;
    margin-bottom: 12px;
    // outline: 1px solid red;
    
    // FIXME: 好不好看見仁見智 可以最後調整
    .cpl-pcb-ita-text-content-paragraph {
        text-align: justify;
        // outline: 1px solid red;
        margin-bottom: 1rem;
    }

    .cpl-pcb-ita-tc-isAuthor-button-area {
        font-size: $fz-caption;
        // outline: 1px solid red;
        position: relative;
        bottom: 7px;
    }

    .cpl-pcb-ita-tc-isAuthor-button {
        border: none;
        background-color: $primary-50p;
        color: $bgc-L-l !important;
        border-radius: 20px;
        filter: none !important;
        outline: none !important;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 2px;
        // width: 100px !important;
    }
}

@media screen and (min-width: 992px) {
    .cpl-pcb-ita-text-content {
        min-height: 179px; // DONE: 初步修復無內容塌陷問題
        max-height: 179px; // DONE: 初步修復無內容塌陷問題
        // outline: 1px solid green;
        
        // FIXME: 先稍微處理按鈕問題
        .cpl-pcb-ita-tc-isAuthor-button-area {
            bottom: 12px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .cpl-pcb-ita-text-content {
        min-height: 156px; // DONE: 初步修復無內容塌陷問題
        max-height: 156px; // DONE: 初步修復無內容塌陷問題

        // FIXME: 先稍微處理按鈕問題
        .cpl-pcb-ita-tc-isAuthor-button-area {
            bottom: 11px;
        }
    }
}

@media screen and (min-width: 1400px) {
    .cpl-pcb-ita-text-content {
        min-height: 218px; // DONE: 初步修復無內容塌陷問題
        max-height: 218px; // DONE: 初步修復無內容塌陷問題
        font-size: $fz-subtitle;

        // FIXME: 先稍微處理按鈕問題
        .cpl-pcb-ita-tc-isAuthor-button-area {
            bottom: 9px;
        }
    }
}

@media screen and (min-width: 1600px) {
    .cpl-pcb-ita-text-content {
        min-height: 256px; // DONE: 初步修復無內容塌陷問題
        max-height: 256px; // DONE: 初步修復無內容塌陷問題
        font-size: 1.375rem;
    }
}

// ============================================================
// 分享文章留言部分
// ============================================================

// 這裡宣告基本尺寸
.cpl-pcb-ita-comments-container {
    max-height: 200px;
    margin-bottom: 10px;
    // outline: 1px solid green;

    >.os-scrollbar {
        >.os-scrollbar-track {
            // FIXME: 知道怎麼控制寬度了
            width: 10px;
            // position: relative;
            right: 10px;
            >.os-scrollbar-handle {
                background: $accent-blue-50p;
                // FIXME: 可以調整置中和捲動握把寬度
                // FIXME: 上下留邊怎麼調整？
                // width: 6px;
                // left: 0;
                // right: 0;
                // margin-left: auto;
                // margin-right: auto;
                
            }

            .os-scrollbar-handle.active {
                background: $accent-blue-50p;
                // background: rgba(207, 27, 159, 0.7);
            }
        }
    }

    >.os-scrollbar:hover {
        >.os-scrollbar-track { 
            >.os-scrollbar-handle {
                background: $accent-blue-50p;
                // background: rgba(46, 149, 213, 0.55);
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .cpl-pcb-ita-comments-container {
        // FIXME: 桌機版要想辦法定住高度
        // min-height max-height 夾著應該可以
        min-height: 90px;
        max-height: 90px;
        margin-bottom: 18px;
    }
}

@media screen and (min-width: 1200px) {
    .cpl-pcb-ita-comments-container {
        // FIXME: 桌機版要想辦法定住高度
        // min-height max-height 夾著應該可以
        min-height: 140px;
        max-height: 140px;
        margin-bottom: 18px;
    }
}

@media screen and (min-width: 1400px) {
    .cpl-pcb-ita-comments-container {
        // FIXME: 桌機版要想辦法定住高度
        // min-height max-height 夾著應該可以
        min-height: calc(79% - 385px);
        max-height: calc(79% - 385px);
        margin-bottom: 18px;
    }
}

@media screen and (min-width: 1600px) {
    .cpl-pcb-ita-comments-container {
        // FIXME: 桌機版要想辦法定住高度
        // min-height max-height 夾著應該可以
        min-height: calc(79% - 425px);
        max-height: calc(79% - 425px);
        margin-bottom: 18px;
    }
}

.cpl-pcb-ita-comment-item {
    // outline: 1px solid red;
    margin-bottom: 10px;
    padding-right: 30px; // FIXME: 用來幫捲動條留白

    // .cpl-pcb-ita-ci-account {
        // padding-left: 20px;
    // }

    .cpl-pcb-ita-ci-text {
        padding-left: 10px;
        font-weight: 100;
        line-height: 20px;
        // outline: 1px solid red;
    }

    .cpl-pcb-ita-ci-edit-area {
        padding-top: 4px;
        font-weight: 100;
        font-size: $fz-caption;
        
        .cpl-pcb-ita-ci-ea-right {
            .cpl-pcb-ita-ci-ea-r-delete, .cpl-pcb-ita-ci-ea-r-edit {
                cursor: pointer;
            }

            .cpl-pcb-ita-ci-ea-r-delete:hover, .cpl-pcb-ita-ci-ea-r-edit:hover {
                text-decoration: underline;
            }
            
            .cpl-pcb-ita-ci-ea-r-edit {
                padding-left: 5px;
            }
        }
    }
}

@media screen and (min-width: 500px) {
    .cpl-pcb-ita-comment-item {
    // outline: 1px solid red;
    margin-bottom: 10px;
    padding-right: 30px; // FIXME: 用來幫捲動條留白

        // .cpl-pcb-ita-ci-account {
            // padding-left: 20px;
        // }

        .cpl-pcb-ita-ci-text {
            padding-left: 10px;
            font-weight: 100;
            // line-height: normal;
            // outline: 1px solid red;
        }

        // .cpl-pcb-ita-ci-edit {
        
        // }
    }
}

// 這裡處理淺色配色
.cpl-pcb-ita-comments-container.os-theme-light {
    >.os-scrollbar {
        >.os-scrollbar-track {
            background-color: $white-50p;
        }
    }
}

// 這裡處理深色配色
.cpl-pcb-ita-comments-container.os-theme-dark {
    >.os-scrollbar {
        >.os-scrollbar-track {
            background-color: $black-50p;
        }
    }
}

.cpl-pcb-ita-text-comment-area {
    margin-bottom: 20px;

    >.cpl-pcb-ita-tca-mh-area {
        width: 50px;
        aspect-ratio: 1/1;
        overflow: hidden;
        border-radius: 50%;
        border: 2px solid $bgc-L-l;
        background-color: $bgc-L-l;

        >.cpl-pcb-ita-tca-mh-memberhead {
            width: 400%;
            position: relative;
            left: -153%; /* 200% - 50% */
            top: -45%; /* - 50% + 5% 規避頸部 */
        }
    }
}

.cpl-pcb-ita-tca-comment-area {
    padding-left: 20px;
    width: 100%;

    .cpl-pcb-ita-tca-c-text {
        // width: 220%;
        background-color: transparent !important;
        border: 1px solid $white-60p;
        border-radius: 20px;
        filter: none !important;
        outline: none !important;
        box-shadow: none !important;

        &::placeholder {
            position: relative;
            top: -1px;
        }
    }
}